
.width-18 {
    width: 18px !important;
  }
  
  .font-14 {
    font-size: 14px !important;
  }
  
  .text-error {
    color: #f44336 !important;
  }
  
  .bg-error {
    background-color: #f44336 !important;
    color: #fff !important;
  }
  
  
  .mat-select-panel {
    max-width: 670px !important;
  }