<div class="container" [dir]="direction">
  <nav class="p-3" style="background-image: url('assets/images/header02.jpg');">
    <div class="d-flex m-0 justify-content-between">
      <div class="text-white">
        <div class="pointer-hand text-left" [routerLink]="['/signup/others']">
          <i class="ionicons "
            [ngClass]="{'ion-arrow-left-c':direction=='ltr','ion-arrow-right-c':direction=='rtl'}"></i>
          &nbsp;{{lang.back}}
        </div>
        <div class="titleCssS">
          {{lang.title}}
        </div>
      </div>
      <div class="">
        <img height="74px" class="rounded-circle bg-white p-3" src="assets/images/consortium_logo.png" alt="Logo">
      </div>
    </div>
  </nav>
  <div *ngIf="!showAcknowledgement" class="mt-4">

    <mat-horizontal-stepper [disableRipple]="true" [@.disabled]="true" [hidden]="hideOnOtpVerification" [linear]="true"
      #mainStepper labelPosition="bottom" (selectionChange)="onMainStepChange($event)">
      <mat-step [stepControl]="vatEligiblePersonForm1.get('orgInfo')" [label]="lang.header.h1">
        <form [formGroup]="vatEligiblePersonForm1" autocomplete="off">
          <div class="row">
            <div class="col-12 pl-0 pr-0">
              <form formGroupName="orgInfo" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c1.title}}
                      <mat-icon *ngIf="!vatEligiblePersonForm1.get('orgInfo').get('companyID').invalid" [ngClass]="
                        direction === 'rtl'
                          ? 'checkCircleARB'
                          : 'checkCircleENG'
                      ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c1.in2}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput maxlength="80" formControlName="entityName" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('orgInfo').get('entityName').hasError('required')">
                            {{lang.c1.in2}} {{lang.err.in1}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('orgInfo').get('entityName').hasError('containsOnlyNumbers')">
                            {{lang.err.containsOnlyNumbers}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('orgInfo').get('entityName').hasError('containsSpecialChars')">
                            {{lang.err.containsSpecialChars}} {{lang.c1.in2}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required"> {{lang.c1.in1}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput maxlength="10" mask="0000000000" formControlName="companyID"
                            (blur)="onCompanyIDChange();" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('orgInfo').get('companyID').hasError('required')">
                            {{lang.c1.in1}} {{lang.err.in1}}
                          </mat-error>
                          <mat-error
                            *ngIf="!vatEligiblePersonForm1.get('orgInfo').get('companyID').hasError('pattern') && vatEligiblePersonForm1.get('orgInfo').get('companyID').hasError('minlength')">
                            {{lang.err.companyidlength}}
                          </mat-error>
                          <mat-error *ngIf="vatEligiblePersonForm1.get('orgInfo').get('companyID').hasError('pattern')">
                            {{lang.err.companyidstartwitherr}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
              <form formGroupName="contactInfo" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c2.title}}
                      <mat-icon *ngIf="vatEligiblePersonForm1.get('contactInfo').valid" [ngClass]="
                      direction === 'rtl'
                        ? 'checkCircleARB'
                        : 'checkCircleENG'
                    ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="registerLabelCss required"> {{lang.c2.in1}}</div>
                        <div class="row m-0">
                          <mat-form-field [ngClass]="{'order-2':direction=='rtl'}" style="width: 30%;"
                            appearance="outline">
                            <mat-select formControlName="mobileCode" (selectionChange)="onMobileCodeChange()">
                              <mat-select-trigger>
                                +{{vatEligiblePersonForm1.get('contactInfo.mobileCode').value}}
                              </mat-select-trigger>
                              <mat-option [value]="item.Telefto" *ngFor="let item of phoneCodes">
                                <div dir="ltr" class="d-flex justify-content-between">
                                  <div class="" style="font-size: 14px;">
                                    +{{ item.Telefto }}
                                  </div>
                                  <div class="text-truncate pl-4" [title]="item.Landx50" style="font-size: 14px;">
                                    {{ item.Landx50 }}
                                  </div>
                                </div>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field [ngClass]="{'order-1':direction=='rtl'}" style="width: 70%;"
                            appearance="outline">
                            <input matInput mask="0{10}" [validation]="false" formControlName="mobileNumber" />
                            <mat-error
                              *ngIf="vatEligiblePersonForm1.get('contactInfo').get('mobileNumber').hasError('required')">
                              {{lang.err.enterMobileNumber}}
                            </mat-error>
                            <mat-error
                              *ngIf="vatEligiblePersonForm1.get('contactInfo').get('mobileNumber').hasError('startsWithZero')">
                              {{lang.err.startsWithZero}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="registerLabelCss required">{{lang.c2.in2}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput type="email" formControlName="email" maxlength="260" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('contactInfo').get('email').hasError('required')">
                            {{lang.err.enterEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('contactInfo').get('email').value && vatEligiblePersonForm1.get('contactInfo').get('email').invalid">
                            {{lang.err.emailinvalid}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <div class="registerLabelCss required">{{lang.c2.in3}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput type="email" formControlName="confirmEmail" maxlength="260" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').hasError('required')">
                            {{lang.err.enterEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').value && vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').invalid && !vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').hasError('notMatch')">
                            {{lang.err.emailinvalid}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').value && vatEligiblePersonForm1.get('contactInfo').get('confirmEmail').hasError('notMatch')">
                            {{lang.err.emailsNotMatch}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-12 pl-0 pr-0">
              <div class="d-flex justify-content-start mt-5 mb-5">
                <button (click)="onSubmitStep1();" class="rounded btnCss save-btn" mat-button> {{lang?.continue}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="step2Validated && step2Completed" [label]="lang.header.h2">
        <form [formGroup]="vatEligiblePersonForm" autocomplete="off">
          <div class="row">
            <div class="col-12 pl-0 pr-0">
              <form formGroupName="personDetails" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c3.title}}
                      <mat-icon
                        *ngIf="!vatEligiblePersonForm.get('personDetails').get('legalPersonCategory').invalid && !vatEligiblePersonForm.get('personDetails').get('preferredRefundFrequency').invalid
                        && !vatEligiblePersonForm.get('personDetails').get('expectedPurchase').invalid && !vatEligiblePersonForm.get('personDetails').get('IBAN').invalid  "
                        [ngClass]="
                        direction === 'rtl'
                          ? 'checkCircleARB'
                          : 'checkCircleENG'
                      ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <div class="registerLabelCss required">{{lang.c3.in1}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="legalPersonCategory" (selectionChange)="getAttachmentList()">
                            <mat-option [value]="getEligiblePers.EpCode"
                              *ngFor="let getEligiblePers of eligiblePersCategoryValues">{{getEligiblePers.DepDescr}}
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('personDetails').get('legalPersonCategory').hasError('required')">
                            {{lang.err.in2}} {{lang.c3.in1}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c3.in2}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="preferredRefundFrequency">
                            <mat-option [value]="refundFrequency.Text"
                              *ngFor="let refundFrequency of refundFrequencyList">
                              {{ refundFrequency.Text }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('personDetails').get('preferredRefundFrequency').hasError('required')">
                            {{lang.err.in2}} {{lang.c3.in2}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="modal-body">
                        <div [hidden]="!showAttachments" class="container-attachments-list">
                          <signup-attachments [viewType]="'modal'" [attachmentsList]="attachmentsList"
                            [ReturnIdx]="registrationObj.ReturnIdx" (onFileUploadSuccess)="onFileUploadSuccess($event)"
                            (onClose)="onAttachmentsClose($event);"></signup-attachments>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <div class="registerLabelCss required">{{lang.c3.in3}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput mask="0000000000" maxlength="13" formControlName="expectedPurchase" />
                          <!-- <span class="form-row-input">{{
                            decimalPipe.transform(
                              vatEligiblePersonForm.get('personDetails').get('expectedPurchase') ? 
                              vatEligiblePersonForm.get('personDetails').get('expectedPurchase') : '0.00',
                            '1.2-2'
                            )
                            }}
                          </span> -->
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('personDetails').get('expectedPurchase').hasError('required')">
                            {{lang.err.in3}} {{lang.c3.in3}}
                          </mat-error>
                          <mat-error
                            *ngIf="!vatEligiblePersonForm.get('personDetails').get('expectedPurchase').hasError('pattern')">
                            {{lang.err.in3}} {{lang.c3.in3}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c3.in4}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput mask="0000000000" maxlength="24" formControlName="IBAN" (blur)="IBANValidation();"/>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('personDetails').get('IBAN').hasError('required')">
                            {{lang.err.in3}} {{lang.c3.in4}}
                          </mat-error>
                          <mat-error
                            *ngIf="!vatEligiblePersonForm.get('personDetails').get('IBAN').hasError('pattern')">
                            {{lang.err.in3}} {{lang.c3.in4}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 registerLabel2Css">
                        <mat-checkbox class="checkboxAckCss" formControlName="confirmation"></mat-checkbox>
                        <!-- color: #00664f; -->
                        <span>
                          {{ lang.c3.confirmation }}</span>
                      </div>
                    </div>
                    <div class="row" formArrayName="doc">
                      <!-- <div class="registerLabelCss required">{{getFileLabel()}}</div> -->
                      <div class="col-4" *ngFor="let attachment of eligiblePersCategoryAttachment; let j = index;">
                        <div [formGroupName]="j">
                          <div *ngIf="attachment.DmsTxt != 'Others'">
                            <div class="registerLabelCss required">{{attachment.DmsTxt}}</div>
                            <mat-form-field
                              (click)="onClickFileControl(attachment.DmsTp,'EP','',vatEligiblePersonForm.get('personDetails').get('copyOfFile'),attachment.DmsTxt,'');"
                              (blur)="vatEligiblePersonForm.get('personDetails').get('copyOfFile').markAsTouched();"
                              appearance="outline" class="attachment-field pointer-hand">
                              <input matInput style="display: none;" formControlName="copyOfFile" />
                              <input type="file" #fileInput7 style="display: none;" />
                              <span class="material-icons float-right pointer-hand">
                                attach_file
                              </span>
                              <mat-error
                                *ngIf="vatEligiblePersonForm.get('personDetails').get('copyOfFile').hasError('required')">
                                {{lang?.err?.addAttachment}}
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div *ngIf="attachment.DmsTxt == 'Others'">
                            <div class="registerLabelCss">{{attachment.DmsTxt}}</div>
                            <mat-form-field
                              (click)="onClickFileControl(attachment.DmsTp,'EP','',vatEligiblePersonForm.get('personDetails').get('copyOfFile'),attachment.DmsTxt,'');"
                              (blur)="vatEligiblePersonForm.get('personDetails').get('copyOfFile').markAsTouched();"
                              appearance="outline" class="attachment-field pointer-hand">
                              <input matInput style="display: none;" formControlName="copyOfFile" />
                              <input type="file" #fileInput7 style="display: none;" />
                              <span class="material-icons float-right pointer-hand">
                                attach_file
                              </span>
                              <mat-error
                                *ngIf="vatEligiblePersonForm.get('personDetails').get('copyOfFile').hasError('required')">
                                {{lang?.err?.addAttachment}}
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

              </form>
              <form formGroupName="addressDetails1" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c6.title}}
                      <mat-icon *ngIf="!vatEligiblePersonForm.get('addressDetails1').get('country').invalid && 
                      !vatEligiblePersonForm.get('addressDetails1').get('province').invalid && 
                      !vatEligiblePersonForm.get('addressDetails1').get('city').invalid && 
                      !vatEligiblePersonForm.get('addressDetails1').get('district').invalid && 
                      !vatEligiblePersonForm.get('addressDetails1').get('streetName').invalid  && 
                      !vatEligiblePersonForm.get('addressDetails1').get('buildingNumber').invalid  && 
                      !vatEligiblePersonForm.get('addressDetails1').get('zipCode').invalid  && 
                      !vatEligiblePersonForm.get('addressDetails1').get('additionalNumber').invalid  && 
                      !vatEligiblePersonForm.get('addressDetails1').get('unitNumber').invalid   " [ngClass]="
                      direction === 'rtl'
                        ? 'checkCircleARB'
                        : 'checkCircleENG'
                    ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in1}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="country" [disabled]="true">
                            <mat-option [value]="country.Land1" *ngFor="let country of countiesList">
                              {{ country.Landx50 }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('country').hasError('required')">
                            <!-- {{lang?.c8?.in1}} -->
                            {{lang?.err?.countryrqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in2}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="province">
                            <mat-option [value]="state.Bland"
                              *ngFor="let state of statesList | cityfilter: vatEligiblePersonForm.get('addressDetails1').get('country').value : 'state'">
                              {{ state.Bezei }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('province').hasError('required')">
                            <!-- {{lang?.c8?.in2}} -->
                            {{lang?.err?.provincerqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in3}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="city">
                            <!-- | cityfilter: addr.province.value : 'province' : addr.country.value -->
                            <mat-option [value]="city.CityCode"
                              *ngFor="let city of citiesList | cityfilter:vatEligiblePersonForm.get('addressDetails1').get('province').value  : 'province' : vatEligiblePersonForm.get('addressDetails1').get('country').value">
                              {{ city.CityName }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('city').hasError('required')">
                            <!-- {{lang?.c8?.in3}} -->

                            {{lang?.err?.cityrqrd}}

                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in4}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="district" maxlength="40" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('district').hasError('required')">

                            <!-- {{lang?.c8?.in4}} -->
                            <!-- {{lang?.err?.quarterrqrd}} -->
                            {{lang?.err?.enterDistrict}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in5}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="streetName" maxlength="60" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('streetName').hasError('required')">
                            <!-- {{lang?.c8?.in5}} -->
                            {{lang?.err?.streetrqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in6}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="buildingNumber" maxlength="20" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('buildingNumber').hasError('required')">
                            <!-- {{lang?.c8?.in6}} -->
                            {{lang?.err?.bnorqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in7}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="zipCode" mask="0000000000" maxlength="5" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('zipCode').hasError('required')">
                            <!-- {{lang?.c8?.in7}} -->
                            {{lang?.err?.ziprqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in8}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="additionalNumber" maxlength="10" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('additionalNumber').hasError('required')">
                            {{lang?.err?.enterAdditionalNumber}}
                            <!-- {{lang?.err?.bnorqrd}} -->
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in9}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="unitNumber" maxlength="9" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails1').get('unitNumber').hasError('required')">
                            <!-- {{lang?.c8?.in9}} -->
                            {{lang?.err?.unorqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
              <form formGroupName="contactPersonDetails" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c4.title}}
                      <mat-icon *ngIf="!vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('idType').invalid
                        && !vatEligiblePersonForm.get('contactPersonDetails').get('idNumber').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('jobTitle').invalid 
                        && !vatEligiblePersonForm.get('contactPersonDetails').get('dateOfBirth').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('firstName').invalid
                        && !vatEligiblePersonForm.get('contactPersonDetails').get('lastName').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('mobileNumber').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('email').invalid
                        && !vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').invalid " [ngClass]="
                        direction === 'rtl'
                          ? 'checkCircleARB'
                          : 'checkCircleENG'
                      ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="registerLabelCss">{{lang?.c4?.in1}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput (change)="getTINDetails()" maxlength="10" mask="0000000000"
                            formControlName="tinNumber" />
                          <mat-error
                            *ngIf="!vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').hasError('pattern') && vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').hasError('minlength')">
                            {{lang?.err?.tinNumberMinlength}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').hasError('pattern')">
                            {{lang?.err?.tinNumberStartWith}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in2}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="idType" (selectionChange)="onIdTypeChange()">
                            <mat-option [value]="idType.value" *ngFor="let idType of idTypesList">
                              {{ idType.name }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('idType').hasError('required')">
                            <!-- {{lang?.c9?.in2}} -->
                            {{lang?.err?.selectIDType}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in3}}</div>
                        <mat-form-field appearance="outline">
                          <input (change)="onBCPIdNumberChange()" type="text" matInput formControlName="idNumber"
                            [mask]="cpIdNumberMask" [validation]="false" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('idNumber').hasError('required')">
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType!='FS0002'">
                              {{lang?.err?.enterIDNumber}}</span>
                            <!-- <span
                              *ngIf="branchDetailsForm.value.contactPersonDetails.idType=='ZS0001'">{{lang?.err?.enterNationalID}}</span>
                            <span
                              *ngIf="branchDetailsForm.value.contactPersonDetails.idType=='ZS0002'">{{lang?.err?.enterIqamaID}}</span>
                            <span
                              *ngIf="branchDetailsForm.value.contactPersonDetails.idType=='ZS0003'">{{lang?.err?.enterGccID}}</span> -->
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='FS0002'">
                              {{lang?.err?.enterPassportNumber}}</span>
                          </mat-error>
                          <mat-error
                            *ngIf="!vatEligiblePersonForm.get('contactPersonDetails').get('idNumber').hasError('pattern') && vatEligiblePersonForm.get('contactPersonDetails').get('idNumber').hasError('minlength')">
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='ZS0001'">
                              {{lang?.err?.nationalIDMinLength}}
                            </span>
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='ZS0002'">
                              {{lang?.err?.iqamaIDMinLength}}
                            </span>
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='ZS0003'">
                              {{lang?.err?.gccIDMinlength}}
                            </span>
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('idNumber').hasError('pattern')">
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='ZS0001'">
                              {{lang?.err?.nationalIDStartWith}}
                            </span>
                            <span *ngIf="vatEligiblePersonForm.value.contactPersonDetails.idType=='ZS0002'">
                              {{lang?.err?.iqamaIDStartWith}}
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in4}}</div>
                        <mat-form-field appearance="outline">
                          <input (dateChange)="onBCPIdNumberChange('dob')" matInput [matDatepicker]="bcpddob"
                            formControlName="dateOfBirth" />
                          <mat-datepicker-toggle matSuffix [for]="bcpddob"></mat-datepicker-toggle>
                          <mat-datepicker [calendarHeaderComponent]="headerComponent" #bcpddob></mat-datepicker>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('dateOfBirth').hasError('required')">
                            <!-- {{lang?.c9?.in5}} -->
                            {{lang?.err?.enterDateOfBirth}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('dateOfBirth').hasError('futureDate')">
                            <!-- {{lang?.c9?.in5}} -->
                            {{lang?.err?.dobFutureDate}}
                          </mat-error>

                        </mat-form-field>

                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in5}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="firstName" maxlength="40"
                            (keypress)='allowAlphabets($event)' />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('firstName').hasError('required')">
                            <!-- {{lang?.c9?.in6}} -->
                            {{lang?.err?.enterFirstName}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in6}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="lastName" maxlength="40"
                            (keypress)='allowAlphabets($event)' />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('lastName').hasError('required')">
                            <!-- {{lang?.c9?.in7}} -->
                            {{lang?.err?.enterLastName}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in7}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="jobTitle" maxlength="50"
                            (keypress)='allowAlphabets($event)' />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('jobTitle').hasError('required')">
                            <!-- {{lang?.c9?.in7}} -->
                            {{lang?.err?.enterJobTitle}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in8}}</div>
                        <div class="row m-0 bcpm-wrapper">
                          <mat-form-field class="w-45" [ngClass]="{'order-2':direction=='rtl'}" appearance="outline"
                            *ngIf="!vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').value">
                            <mat-select formControlName="mobileCode" (selectionChange)="onBCPMobileCodeChange()">
                              <mat-select-trigger>
                                +{{vatEligiblePersonForm.get('contactPersonDetails.mobileCode').value}}
                              </mat-select-trigger>
                              <mat-option [value]="item.Telefto" *ngFor="let item of phoneCodes">
                                <!-- {{ item.Land1 }}&nbsp; +{{item.Telefto}} -->
                                <div dir="ltr" class="d-flex justify-content-between">
                                  <div class="" style="font-size: 14px;">
                                    +{{ item.Telefto }}
                                  </div>
                                  <div class="text-truncate pl-4" [title]="item.Landx50" style="font-size: 14px;">
                                    {{ item.Landx50 }}
                                  </div>
                                </div>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="" appearance="outline"
                            [ngClass]="{'w-55':!vatEligiblePersonForm.get('contactPersonDetails').get('tinNumber').value,'order-1':direction=='rtl'}">
                            <input (input)="onBCPMobileNumberChange()" matInput formControlName="mobileNumber"
                              mask="9{10}" [validation]="false" />
                          </mat-form-field>
                          <div class="custom-bcpm-error mat-form-field-subscript-wrapper m-0 pl-2">
                            <mat-error
                              *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('mobileNumber').hasError('required')">
                              <!-- {{lang?.c9?.in9}} -->
                              {{lang?.err?.enterMobileNumber}}
                            </mat-error>
                            <mat-error
                              *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('mobileNumber').hasError('minlength') && !vatEligiblePersonForm.get('contactPersonDetails').get('mobileNumber').hasError('startsWith')">
                              {{lang?.err?.bcpMobileNumberMaxLength}}
                              <!-- Phone Number should be of 14 digit -->
                            </mat-error>
                            <mat-error
                              *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('mobileNumber').hasError('startsWith')">
                              {{lang?.err?.bcpMobileNumberStartWith}}
                            </mat-error>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in9}}</div>
                        <mat-form-field appearance="outline">
                          <input type="email" matInput formControlName="email" maxlength="260" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('email').hasError('required')">
                            <!-- {{lang?.c9?.in10}} -->
                            {{lang?.err?.enterEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('email').value && vatEligiblePersonForm.get('contactPersonDetails').get('email').invalid">
                            {{lang?.err?.emailinvalid}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang?.c4?.in10}}</div>
                        <mat-form-field appearance="outline">
                          <input type="email" matInput formControlName="confirmEmail" maxlength="260" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').hasError('required')">
                            <!-- {{lang?.c9?.in11}} -->
                            {{lang?.err?.enterConfirmEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').value && vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').invalid && !vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').hasError('notMatch')">
                            {{lang?.err?.emailinvalid}}
                          </mat-error>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').value && vatEligiblePersonForm.get('contactPersonDetails').get('confirmEmail').hasError('notMatch')">
                            {{lang?.err?.emailsNotMatch}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
              <form formGroupName="addressDetails" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c5.title}}
                      <mat-icon *ngIf="!vatEligiblePersonForm.get('addressDetails').get('country').invalid && 
                        !vatEligiblePersonForm.get('addressDetails').get('province').invalid && 
                        !vatEligiblePersonForm.get('addressDetails').get('city').invalid && 
                        !vatEligiblePersonForm.get('addressDetails').get('district').invalid && 
                        !vatEligiblePersonForm.get('addressDetails').get('streetName').invalid  && 
                        !vatEligiblePersonForm.get('addressDetails').get('buildingNumber').invalid  && 
                        !vatEligiblePersonForm.get('addressDetails').get('zipCode').invalid  && 
                        !vatEligiblePersonForm.get('addressDetails').get('additionalNumber').invalid  && 
                        !vatEligiblePersonForm.get('addressDetails').get('unitNumber').invalid   " [ngClass]="
                        direction === 'rtl'
                          ? 'checkCircleARB'
                          : 'checkCircleENG'
                      ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in1}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="country" [disabled]="true">
                            <mat-option [value]="country.Land1" *ngFor="let country of countiesList">
                              {{ country.Landx50 }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('country').hasError('required')">
                            <!-- {{lang?.c8?.in1}} -->
                            {{lang?.err?.countryrqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in2}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="province">
                            <mat-option [value]="state.Bland"
                              *ngFor="let state of statesList | cityfilter: vatEligiblePersonForm.get('addressDetails').get('country').value : 'state'">
                              {{ state.Bezei }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('province').hasError('required')">
                            <!-- {{lang?.c8?.in2}} -->
                            {{lang?.err?.provincerqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in3}}</div>
                        <mat-form-field appearance="outline">
                          <mat-select formControlName="city">
                            <!-- | cityfilter: addr.province.value : 'province' : addr.country.value -->
                            <mat-option [value]="city.CityCode"
                              *ngFor="let city of citiesList | cityfilter:vatEligiblePersonForm.get('addressDetails').get('province').value  : 'province' : vatEligiblePersonForm.get('addressDetails').get('country').value">
                              {{ city.CityName }}</mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('city').hasError('required')">
                            <!-- {{lang?.c8?.in3}} -->

                            {{lang?.err?.cityrqrd}}

                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in4}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="district" maxlength="40" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('district').hasError('required')">

                            <!-- {{lang?.c8?.in4}} -->
                            <!-- {{lang?.err?.quarterrqrd}} -->
                            {{lang?.err?.enterDistrict}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in5}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="streetName" maxlength="60" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('streetName').hasError('required')">
                            <!-- {{lang?.c8?.in5}} -->
                            {{lang?.err?.streetrqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in6}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="buildingNumber" maxlength="20" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('buildingNumber').hasError('required')">
                            <!-- {{lang?.c8?.in6}} -->
                            {{lang?.err?.bnorqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in7}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="zipCode" mask="0000000000" maxlength="5" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('zipCode').hasError('required')">
                            <!-- {{lang?.c8?.in7}} -->
                            {{lang?.err?.ziprqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in8}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="additionalNumber" maxlength="10" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('additionalNumber').hasError('required')">
                            {{lang?.err?.enterAdditionalNumber}}
                            <!-- {{lang?.err?.bnorqrd}} -->
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c5.in9}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput formControlName="unitNumber" maxlength="9" />
                          <mat-error
                            *ngIf="vatEligiblePersonForm.get('addressDetails').get('unitNumber').hasError('required')">
                            <!-- {{lang?.c8?.in9}} -->
                            {{lang?.err?.unorqrd}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
          </div>
          <div class="d-flex justify-content-start mt-5 mb-5">
            <div class="row mt-5 mb-5">
              <div class="col-12">
                <button (click)="validateStep2();" class="rounded btnCss save-btn"
                  mat-button>{{lang?.continue}}</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [label]="lang.header.h3" [completed]="step3Completed">
        <signup-create-password [type2]="'ZVTI'" (completed)="submitVATEligiblePerson($event)">
        </signup-create-password>
      </mat-step>


      <ng-template matStepperIcon="create">
        <mat-icon>brightness_1</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <mat-icon>brightness_1</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>check_circle</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index" let-active="active">
        <mat-icon *ngIf="!mainStepper.selected.interacted">panorama_fish_eye</mat-icon>
        <mat-icon *ngIf="mainStepper.selected.interacted">brightness_1</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>

  </div>
  <signup-otp *ngIf="hideOnOtpVerification" [params]="otpParams" (onOTPSuccess)="onOTPSuccess($event)"
    (onInvalidOTP)="onInvalidOTP($event)" (onOTPError)="onOTPError($event)">
  </signup-otp>
</div>
<mat-card class="mt-4" *ngIf="showAcknowledgement">
  <mat-card-content>
    <div class="row text-center mt-4">
      <div class="col-12">
        <div>
          <img src="assets/image/success.svg" width="112px" />
        </div>
        <div class="mt-4 mb-4">
          <h3 class="font-weight-bold">{{ lang?.acknowledgement?.title}}</h3>
          <h6 class="font-weight-bold mt-4 mb-4">{{ lang?.acknowledgement?.message}}</h6>
        </div>
        <div class="offset-3 col-6 p-3 border mb-4 rounded">
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.name}}</h6>
            <h6 class="font-weight-bold m-0 p-0">{{entityName || 'Entity Name'}}</h6>
          </div>
        </div>
        <div class="offset-3 col-6 p-3 border mb-4 rounded">
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.appno}}</h6>
            <h6 class="font-weight-bold m-0 p-0">{{applicationNo || 'Application Number'}}</h6>
          </div>
        </div>
        <div class="offset-3 col-6 p-3 border mb-4 rounded">
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.date}}</h6>
            <h6 class="font-weight-bold m-0 p-0">{{applicationSubmissionDate | date}}</h6>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <button mat-button class="btnCss rounded" [routerLink]="['/login']">
            {{ lang.acknowledgement?.info?.login_link_label }}
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<notifier-container [dir]="direction"></notifier-container>

<div class="modal sh-info-modal" id="errorMsgsModal" data-keyboard="false" data-backdrop="static" [dir]="direction">
  <div class="modal-dialog modal-lg max-width-550">
    <div class="modal-content">
      <div class="modal-header text-white text-center">
        <p class="modal-title  text-white text-center">
          <i class="fa fa-info-circle"></i>&nbsp;{{lang?.error}}
        </p>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-12 text-left text-error">
            <h6 *ngFor="let error of errorMsgsList" class="font-weight-normal font-14">{{error?.message}}
            </h6>
          </div>
          <div class="col-12 mt-3 mb-2 text-right">
            <button mat-raised-button class="rounded save-btn btn-bg-success" type="button" style="width: auto;"
              (click)="closeModal('errorMsgsModal')">{{lang?.ok}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>