.pt-15 {
    padding-top: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.cursor-pointer {
    cursor: pointer;
}

.search-with-shadow{
	top:50%;
	right:10px;
	transform:translateY(-50%);
}
.card-popup {
    /* top: 56%!important;
    right: 57px!important; */
    top: 83%!important;
    z-index: 9999;
    right: 24px!important;
}

.lang-arabic .pop-up-right {
    left: 25px !important;
    right: 27% !important;
}
.lang-arabic .ar-search-with-shadow{
    top: 55% !important;
    right: 96% !important;
}
.lang-arabic .ar-mt-10 {
    margin-top: 0 !important;
    transform: rotateZ(
-180deg
) !important;
}

.width140p{width: 140px !important;}
.height100p{height: 100px !important;}
.table td, .table th {
    vertical-align: middle;
}
.staus-1{

    background: rgba(0, 100, 80, 0.1);
    color: #006450;
}
.staus-2{
    background: #bfbebe !important;
    color: black;
}
.staus-3{
    /* background: #c49b2d !important;
    color: black; */
    background: #d99a2930;
    color: #d99a29;
} 
.staus-4{
    /* background: #8e3f42 !important;
    color: white; */
    background: rgba(170, 12, 25, 0.1);
    color: #aa0c19;
} 
.staus-5{
    background: #bfbebe !important;
    color: black;
}    