<!-- <p>cancel-warehouse works!</p> -->
<div *ngIf="Step==1" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <!-- <button [hidden]="true" #confirm data-toggle="modal" data-target="#confirm" data-backdrop="static" data-keyboard="false"></button> -->
    <!-- <div class="modal modal-filter fade" id="confirm" role="dialog">
        <div class="modal-dialog pop-up-align-mddile">
            <div class="modal-content">
                <div class="text-right modal-filter-head">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="./images/icon-close-1.svg" alt="">
                    </button>
                </div>
                <div class="modal-body px-60">
                    <h2 class="mb-16">{{lang.step1.t1}}</h2>
                    <div class="mb-56">
                        <p class="mb-0">{{lang.step1.t2}}</p>
                    </div>

                    <div class="mx-auto d-block">
                        <button class="btn btn-primary mr-15"
                            (click)="newCancelWarehouse()">{{lang.step1.btn1}}</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#proceed"
                            (click)="existingCancelWarehouse()">{{lang.step1.btn2}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <button [hidden]="true" #proceed data-toggle="modal" data-target="#proceed" data-backdrop="static"
        data-keyboard="false"></button>
    <div class="modal modal-filter fade" id="proceed" role="dialog">
        <div class="modal-dialog max-width-782 pop-up-align-mddile">
            <div class="modal-content">
                <div class="text-right modal-filter-head">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="redirectToBack()">
                        <span class="material-icons font-28">
                            clear
                        </span>
                    </button>
                </div>

                <div class="modal-body px-60">
                    <h2 class="mb-24 text-center">{{lang.step1.t9}}</h2>
                    <div class="mb-24">
                        <!-- <h3 class="d-flex align-items-center mb-0">{{lang.step1.t3}}</h3> -->
                        <label>{{lang.step1.t3}}</label>
                    </div>
                    <div class="table mb-56 border-top-whisper card overflow-auto">
                        <!-- <div class="p-24 d-flex align-items-center justify-content-between">
                            <h3 class="d-flex align-items-center mb-0">{{lang.step1.t3}}
                            </h3>
                        </div> -->

                        <div class="multi-collapse collapse show" [ngClass]="{'disabled': Disableflag==false}">
                            <table width="100%" class="table-bordered table-bordered-less cutsom-table-width">
                                <thead>
                                    <tr>
                                        <th class="font-16 text-Eerie-Black font-weight-normal">
                                            {{lang.step1.t4}}
                                        </th>
                                        <th class="font-16 text-Eerie-Black font-weight-normal text-right">
                                            {{lang.step1.t5}}
                                        </th>
                                        <th class="font-16 text-Eerie-Black font-weight-normal text-right ">
                                            {{lang.step1.t6}}
                                        </th>
                                        <th class="font-16 text-Eerie-Black font-weight-normal text-right">
                                            {{lang.step1.t7}}
                                        </th>
                                        <th class="font-16 text-Eerie-Black font-weight-normal text-right">
                                            {{lang.step1.t10}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of WarehouseWholeData; let i = index;">
                                    <tr>
                                        <td class="font-16">
                                            <div class="material-switch ml-2">
                                                <div class="lable-switch">
                                                    <input id="switch{{i}}" name="switch{{i}}" type="checkbox"
                                                        [checked]="item.flag==true"
                                                        (change)="draftRadioSelected(i,$event);">
                                                    <label for="switch{{i}}" class="label-primary"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="font-16 text-right">
                                            {{item.Actdt}}
                                        </td>
                                        <td class="font-16 text-right">
                                            {{item.Fbnum}}
                                        </td>
                                        <td class="font-16 text-right">
                                            {{item.Whfnm}}
                                        </td>
                                        <td class="font-16 text-right">
                                            {{item.Fbustt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="border-bottom-whisper"> </div>
                    <div class="row mb-32" [ngClass]="{'disabled': Disableflag==true}">
                        <div class="col-sm-6">
                            <div class="form-group mb-0">
                                <label>{{lang.step2.s1.t7}}</label>
                                <div class="custom-dropdown position-relative card">
                                    <select class="form-control default-arrow-hide" [ngModel]="WarehouseNo"
                                        (change)="onWarehouseSelection($event.target.value);">
                                        <option value=""></option>
                                        <option *ngFor="let res of WarehouseListData" [value]="res.Whno">{{res.Whnm}}
                                        </option>
                                    </select>
                                    <img src="assets/images/icon-dropdown-up.svg" class="mr-10 position-absolute"
                                        alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mb-0">
                                <label>{{lang.step2.s1.t8}}</label>
                                <div class="d-flex">
                                    <input type="text" class="form-control card" [ngModel]="ExpiryDate"
                                        [matDatepicker]="picker3" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker3" [disabled]="true"
                                        class="datepickerIcon"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-24 text-right">
                        <button class="btn btn-primary ml-15" (click)="ConfirmModel()">{{lang.step1.t8}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="Step==2" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container">
        <div class="container">
            <div class="mb-24">
                <a href="#" onclick="return false" class="text-Gray">{{lang.step2.nav.t1}} </a> {{lang.step2.nav.t2}}
            </div>

            <div class="mb-32 d-flex justify-content-between align-items-center">
                <a routerLink="/mains/tax"
                    class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
                    <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt=""> {{lang.step2.nav.t3}}
                </a>

                <div class="bullet-nav d-flex align-items-center">
                    <a href="#" onclick="return false" class="active">
                        <span></span>
                    </a>
                    <a href="#" onclick="return false">
                        <span></span>
                    </a>
                    <a href="#" onclick="return false">
                        <span></span>
                    </a>
                </div>
            </div>

            <form [formGroup]="WarehouseInformationFormGroup">
                <div class="mb-24">
                    <h2 class="mb-12">{{lang.step2.s1.t1}}</h2>
                    <div class="text-Gray font-16">{{lang.step2.s1.t2}}</div>
                </div>
                <div class="border-bottom-whisper mb-32"></div>

                <div class="card card-shadow-none mb-32">
                    <div class="pxy-2412">
                        <h3 class="d-flex align-items-center mb-0">
                            <span class="ellipse48 bg-Watercourse-opa1 mr-15"><img
                                    src="assets/images/icon-warehouse.svg" class="" alt=""></span>{{lang.step2.s1.t3}}
                        </h3>
                    </div>
                    <div class="border-bottom-whisper"></div>

                    <div class="row p-24">
                        <div class="col-sm-6">
                            <div class="form-group mb-24">
                                <label>{{lang.step2.s1.t4}}</label>
                                <input type="text" class="form-control card" formControlName="finNo" readonly>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mb-24">
                                <label>{{lang.step2.s1.t5}}</label>
                                <input type="text" class="form-control card" formControlName="bussinessName" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card p-24 mb-32 card-shadow-none">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <div class="d-flex align-items-start">
                                <img src="assets/images/icon-info.svg" class="mr-15" alt="">
                                <span class="font-12 text-Gray">
                                    {{lang.step2.s1.t6}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-32">
                    <div class="col-sm-6">
                        <div class="form-group mb-0">
                            <label>{{lang.step2.s1.t7}}</label>
                            <div class="position-relative card">
                                <select class="form-control default-arrow-hide" disabled
                                    formControlName="selectWarehouse"
                                    (change)="onWarehouseSelection($event.target.value)">
                                    <option *ngFor="let res of WarehouseListData" [value]="res.Whno">{{res.Whnm}}
                                    </option>
                                </select>
                                <!-- <img src="assets/images/icon-dropdown-up.svg" class="mr-10 position-absolute" alt=""> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group mb-0">
                            <label>{{lang.step2.s1.t8}}</label>
                            <div class="d-flex">
                                <input type="text" class="form-control card" [matDatepicker]="picker3"
                                    formControlName="expiryDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker3" [disabled]="true"
                                    class="datepickerIcon"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-32" [ngClass]="{'disabled':ConfirmationFlag == true}">
                    <label>{{lang.step2.s1.t9}}</label>
                    <div class="position-relative">
                        <textarea class="form-control h-96 card resize-none" maxlength="132"
                            formControlName="reason"></textarea>
                    </div>
                    <span class="error" *ngIf="WarehouseInformationFormGroup.controls['reason'].errors?.pattern">
                        {{lang.step3.s1.t16}}
                    </span>
                    <span *ngIf="WarehouseInformationFormGroup.controls['reason'].errors?.maxlength">
                        {{lang.step3.s1.t17}}
                    </span>
                </div>

                <div class="card p-24 card-shadow-none mb-56">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/icon-info.svg" class="mr-15" alt="">
                        <span class="font-12 text-Gray">
                            {{lang.step2.s1.t10}}
                        </span>
                    </div>
                </div>

                <div class="mb-24">
                    <button class="btn btn-primary" [disabled]="!WarehouseInformationFormGroup.valid"
                        (click)="continueSecondScreen()">{{lang.step2.s1.btn1}}</button>
                    <button class="btn btn-primary ml-15" [disabled]="!WarehouseInformationFormGroup.valid"
                        (click)="saveWarehouseDetails()">{{lang.step2.s1.btn2}}</button>
                </div>
            </form>
        </div>

        <!-- INFO MODAL STARTS -->
        <button [hidden]="true" #instructions data-toggle="modal" data-target="#instructions" data-backdrop="static"
            data-keyboard="false"></button>
        <div class="modal modal-filter fade" id="instructions" role="dialog">
            <div class="modal-dialog max-width-708">
                <div class="modal-content">
                    <div class="text-right modal-filter-head">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="redirectToBack()">
                            <span class="material-icons font-28">
                                clear
                            </span>
                        </button>
                    </div>

                    <div class="modal-body px-60 pt-40" [formGroup]="InstructionFormGroup">
                        <h2 class="mb-24">{{lang.step2.popup1.t1}}</h2>
                        <div class="card-inner mb-32">
                            <div class="font-12 text-Gray">
                                {{lang.step2.popup1.t2}}

                            </div>
                        </div>

                        <div class="mb-60">
                            <label class="custom-checkBox d-flex align-items-center h-20">
                                <span class="ml-10 font-12 font-weight-500"> {{lang.step2.popup1.t3}}</span>
                                <input type="checkbox" formControlName="agree">
                                <span class="checkmark checkmark-24"></span>
                            </label>
                        </div>

                        <div class="form-group text-right mb-16">
                            <button class="btn btn-primary arBtn-left"
                                [disabled]="!InstructionFormGroup.valid || InstructionFormGroup.value.agree == false"
                                (click)="termsAndConditionsOfInstructionAcceptance()">{{lang.step2.popup1.btn1}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- INFO MODAL ENDS -->
    </div>
</div>

<div *ngIf="Step==3" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container">
        <div class="mb-24">
            <a href="#" onclick="return false" class="text-Gray">{{lang.step3.nav.t1}}</a> {{lang.step3.nav.t2}}
        </div>

        <div class="mb-32 d-flex justify-content-between align-items-center">
            <a (click)="back2()" class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
                <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt=""> {{lang.step3.nav.t3}}
            </a>

            <div class="bullet-nav d-flex align-items-center">
                <a href="#" onclick="return false" class="active2">
                    <span></span>
                </a>
                <a href="#" onclick="return false">
                    <span></span>
                </a>
            </div>
        </div>

        <form [formGroup]="DeclarationFormGroup">
            <div class="mb-24">
                <h2 class="mb-12">{{lang.step3.s1.t1}}</h2>
                <div class="row">
                    <div class="col-lg-9 col-md-11 col-sm-12">
                        <div class="text-Gray font-16">{{lang.step3.s1.t2}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom-whisper mb-32"></div>

            <div class="row mb-43" [ngClass]="{'disabled':ConfirmationFlag == true}">
                <div class="col-sm-6">
                    <div class="form-group mb-24">
                        <label>{{lang.step3.s1.t3}}</label>
                        <input type="text" class="form-control card" formControlName="contactName">
                        <div class="error" *ngIf="DeclarationFormGroup.controls['contactName'].errors?.maxlength">
                            {{lang.step3.s1.t15}}
                        </div>
                        <div class="error" *ngIf="DeclarationFormGroup.controls['contactName'].errors?.pattern">
                            {{lang.step3.s1.t16}}
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group mb-24">
                        <label>{{lang.step3.s1.t5}}</label>
                        <input type="text" class="form-control card" formControlName="designation">
                        <span class="error" *ngIf="DeclarationFormGroup.controls['designation'].errors?.maxlength">
                            {{lang.step3.s1.t15}}
                        </span>
                        <span class="error" *ngIf="DeclarationFormGroup.controls['designation'].errors?.pattern">
                            {{lang.step3.s1.t16}}
                        </span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group mb-24">
                        <label>{{lang.step3.s1.t7}}</label>
                        <div class="custom-dropdown position-relative card">
                            <select class="form-control default-arrow-hide" formControlName="idType"
                                (change)="onIdTypeSelection($event.target.value)">
                                <option *ngFor="let item of IdTypeList" [value]="item.Key">{{item.Text}}</option>
                            </select>
                            <img src="assets/images/icon-dropdown-up.svg" class="mr-10 position-absolute" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group mb-24">
                        <label>{{lang.step3.s1.t8}}</label>
                        <input type="text" class="form-control card" formControlName="idNumber"
                            (change)="onIdNoChange($event.target.value)">
                        <span class="error" *ngIf="DeclarationFormGroup.controls['idNumber'].errors?.pattern">
                            {{lang.step3.s1.t81}}
                        </span>
                        <span class="error" *ngIf="DeclarationFormGroup.controls['idNumber'].errors?.minlength">
                            {{lang.step3.s1.t82}}
                        </span>
                        <span class="error" *ngIf="DeclarationFormGroup.controls['idNumber'].errors?.maxlength">
                            {{lang.step3.s1.t83}}
                        </span>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group mb-24">
                        <label>{{lang.step3.s1.t9}}</label>
                        <div class="d-flex">
                            <input type="text" class="form-control card" [matDatepicker]="picker4"
                                formControlName="date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker4" [disabled]="true" class="datepickerIcon1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-56" [ngClass]="{'disabled':ConfirmationFlag == true}">
                <div class="col-lg-9 col-md-11 col-sm-12">
                    <label class="custom-checkBox d-flex align-items-center h-32">
                        <span class="ml-10 font-16"> {{lang.step3.s1.t10}}
                        </span>
                        <input type="checkbox" [checked]="DeclarationFormGroup.value.agree" formControlName="agree">
                        <span class="checkmark checkmark-24"></span>
                    </label>
                </div>
            </div>

            <div class="mb-24">
                <button class="btn btn-primary"
                    [disabled]="!DeclarationFormGroup.valid || DeclarationFormGroup.value.agree == false"
                    (click)="continueThirdScreen()">{{lang.step3.s1.btn1}}</button>
                <button class="btn btn-primary ml-15"
                    [disabled]="!DeclarationFormGroup.valid || DeclarationFormGroup.value.agree == false"
                    (click)="saveDeclarationDetails()">{{lang.step3.s1.btn2}}</button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="Step==6" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container">
        <div class="mb-24">
            <a href="#" onclick="return false" class="text-Gray">{{lang.step3.nav.t1}}</a> {{lang.step3.nav.t2}}
        </div>

        <div class="mb-32 d-flex justify-content-between align-items-center">
            <a (click)="back6()" class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
                <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt=""> {{lang.step3.nav.t3}}
            </a>

            <div class="bullet-nav d-flex align-items-center">
                <a href="#" onclick="return false" class="active2">
                    <span></span>
                </a>
                <a href="#" onclick="return false">
                    <span></span>
                </a>
            </div>
        </div>
        <div class="mb-24">
            <h2 class="mb-12">{{lang.step6.s1.t1}}</h2>
            <div class="row">
                <div class="col-lg-9 col-md-11 col-sm-12">
                    <div class="text-Gray font-16">Complete the below Details
                    </div>
                </div>
            </div>
        </div>
        <div class="border-bottom-whisper mb-32"></div>

        <div class="row mb-56">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>{{lang.step6.s1.t2}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 ml-15">
                <label class="custom-checkBox d-flex align-items-center mb-24">
                    <span class="ml-10 font-16"> {{lang.step6.s1.t3}}
                    </span>
                    <input type="checkbox" [checked]="Gdsfl" [(ngModel)]="Gdsfl">
                    <span class="checkmark checkmark-24"></span>
                </label>
                <label class="custom-checkBox d-flex align-items-center mb-24">
                    <span class="ml-10 font-16"> {{lang.step6.s1.t4}}
                    </span>
                    <input type="checkbox" [checked]="Rtsfl" [(ngModel)]="Rtsfl">
                    <span class="checkmark checkmark-24"></span>
                </label>
                <label class="custom-checkBox d-flex align-items-center">
                    <span class="ml-10 font-16"> {{lang.step6.s1.t5}}
                    </span>
                    <input type="checkbox" [checked]="Duefl" [(ngModel)]="Duefl">
                    <span class="checkmark checkmark-24"></span>
                </label>

            </div>
        </div>

        <div class="mb-24">
            <!-- [disabled]="!DeclarationFormGroup.valid || DeclarationFormGroup.value.agree == false" -->
            <button class="btn btn-primary" (click)="continueSixthScreen()">{{lang.step3.s1.btn1}}</button>
            <!-- [disabled]="!DeclarationFormGroup.valid || DeclarationFormGroup.value.agree == false" -->
            <button class="btn btn-primary ml-15" (click)="saveDeclarationDetails()">{{lang.step3.s1.btn2}}</button>
        </div>
    </div>
</div>
<div *ngIf="Step==4" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container">
        <div class="mb-24">
            <a href="#" onclick="return false" class="text-Gray"> {{lang.step4.nav.t1}} </a> {{lang.step4.nav.t2}}
        </div>

        <div class="mb-32 d-flex justify-content-between align-items-center">
            <a (click)="back3()" class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
                <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt=""> {{lang.step4.nav.t3}}
            </a>

            <div class="bullet-nav d-flex align-items-center">
                <a href="#" onclick="return false" class="active3">
                    <span></span>
                </a>
                <a href="#" onclick="return false" class="ml-10">
                    <img src="assets/images/icon-gcheck.svg" alt="">
                </a>
            </div>
        </div>

        <div class="mb-24">
            <h2 class="mb-12">{{lang.step4.s1.t1}}</h2>
            <div class="text-Gray font-16">{{lang.step4.s1.t2}}</div>
        </div>
        <div class="border-bottom-whisper mb-32"></div>

        <div class="card mb-24 card-shadow-none">
            <div class="pxy-2412 d-flex justify-content-between align-items-center">
                <h3 class="d-flex align-items-center mb-0">
                    <span class="ellipse48 bg-Watercourse-opa1 mr-15"><img src="assets/images/icon-warehouse.svg"
                            class="" alt=""></span> {{lang.step4.s1.t3}}
                </h3>
                <a (click)="setWarehoueInformationFormControls()"
                    class="text-Watercourse font-weight-bold font-16 cursor-pointer">{{lang.step4.s1.t4}}</a>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row p-24">
                <div class="col-sm-6">
                    <p class="font-16 text-Gray  mb-0">{{lang.step4.s1.t5}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{WarehouseData.Fin}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s1.t6}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{WarehouseData.Bussiness}}
                    </div>
                </div>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row  p-24">
                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s1.t7}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{WarehouseName}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s1.t8}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{WarehouseData.ExpiryDate | date}}
                    </div>
                </div>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row p-24">
                <div class="col-sm-12">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s1.t9}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{WarehouseData.Reason}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-shadow-none mb-56">
            <div class="pxy-2412 d-flex justify-content-between align-items-center">
                <h3 class="d-flex align-items-center mb-0">
                    <span class="ellipse48 bg-Watercourse-opa1 mr-15"><img src="assets/images/icon-declaration.svg"
                            class="" alt=""></span>{{lang.step4.s2.t1}}
                </h3>
                <a (click)="setDeclarationFormControls()"
                    class="text-Watercourse font-weight-bold font-16 cursor-pointer">{{lang.step4.s2.t2}}</a>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row p-24">
                <div class="col-sm-6">
                    <p class="font-16 text-Gray  mb-0">{{lang.step4.s2.t3}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{DeclarationData.Name}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s2.t4}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{DeclarationData.Designation}}
                    </div>
                </div>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row p-24">
                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s2.t5}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{IdTypeName}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s2.t6}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{DeclarationData.IdNo}}
                    </div>
                </div>
            </div>
            <div class="border-bottom-whisper"></div>

            <div class="row p-24">
                <div class="col-sm-12">
                    <p class="font-16 text-Gray mb-0">{{lang.step4.s2.t7}}</p>
                    <div class="text-Eerie-Black font-16 font-weight-500">
                        {{DeclarationData.Date | date}}
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-24">
            <button class="btn btn-primary" (click)="continueFourthScreen()">{{lang.step4.nav.btn1}}</button>
            <button class="btn btn-primary ml-15" (click)="saveSummaryDetails()">{{lang.step4.nav.btn2}}</button>
        </div>
    </div>
</div>

<div *ngIf="Step==5" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container">
        <div class="inner">
            <div class="d-flex justify-content-center align-items-center h-100vh">
                <div class="text-center">
                    <div class="text-center mb-40">
                        <img src="assets/images/icon-success.svg" alt="">
                    </div>
                    <h2 class="mb-12">{{lang.step5.s1.t1}}</h2>
                    <div class="text-Gray font-16 mb-56">{{lang.step5.s1.t2}}</div>
                    <div class="mb-24 text-center  d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary mb-24 d-inline-block"
                            routerLink="/mains/tax">{{lang.step5.s1.t3}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="step13" *ngIf="Step==13" dir={{direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="inner">
            <div class="text-center mb-56">
                <div class="text-center mb-40">
                    <img src="assets/images/icon-success.svg" alt="">
                </div>
                <h2 class="mb-12">{{lang.step5.s1.t1}}</h2>
                <div class="text-Gray font-16 mb-56">{{lang.step5.s1.t2}}</div>
                <div class="inner mb-24">
                    <!-- <div
                        class="d-flex align-items-center justify-content-between mb-16 item-cardetails card-shadow-none">
                        <span class="font-16 text-Gray  mb-0">
                            Name Of Applicant
                        </span>
                        <span class="text-Eerie-Black font-16 font-weight-500">
                            Zaed Hardy
                        </span>
                    </div> -->
                    <div
                        class="d-flex align-items-center justify-content-between mb-16 item-cardetails card-shadow-none">
                        <span class="font-16 text-Gray  mb-0">
                            {{lang.step13.t3}}
                        </span>
                        <span class="text-Eerie-Black font-16 font-weight-500">
                            {{this.WholeData.Fbnumz}}
                        </span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between item-cardetails card-shadow-none">
                        <span class="font-16 text-Gray  mb-0">
                            {{lang.step13.t4}}
                        </span>
                        <span class="text-Eerie-Black font-16 font-weight-500">
                            {{CurrentDate | date:'dd-MM-yyyy'}}
                        </span>
                    </div>
                </div>
                <!-- <div class="text-Gray font-16 mb-56">
                    {{lang.step13.t5}}
                </div> -->
            </div>
            <div class="mb-24 text-center  d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-primary d-inline-block mb-40"
                    (click)="AcknowledgementMethod()">{{lang.step13.t6}}</button>
                <button class="btn btn-primary mb-24 d-inline-block"
                    routerLink="/mains/tax">{{lang.step5.s1.t3}}</button>
                <!-- <button class="btn btn-link d-inline-block mr-0" (click)="DownloadFormMethod()"> {{lang.step13.t7}}
                </button> -->
            </div>

        </div>
    </div>
</div>
<div class="modal" id="idWHDeclarationValidation" data-keyboard="false" data-backdrop="static" [dir]="direction">
    <div class="modal-dialog  modal-md">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="text-right modal-filter-head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearPopup()">
                    <span class="material-icons font-28">
                        clear
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="IdTypeOwnerShipFormgroup">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div>
                                <div class="registerLabelCss">{{lang.step8.t22.t1}}<span style="color: red;">*</span>
                                </div>
                                <mat-form-field appearance="outline" [ngClass]="{'border-red':uid.errors?.pattern}">
                                    <input matInput formControlName="Idnumber" (ngModelChange)="id1 = $event;" #uid
                                        pattern="^[0-9]*$" minlength="1" maxlength="16"
                                        (keypress)="NumberAllow($event)">
                                </mat-form-field>
                                <span class="error"
                                    *ngIf="IdTypeOwnerShipFormgroup.controls['Idnumber'].errors?.pattern">
                                    {{lang.step8.t5}}
                                </span>
                                <!-- <span class="error"
                                    *ngIf="IdTypeOwnerShipFormgroup.controls['Idnumber'].errors?.minlength">
                                    {{lang.step11.t61}}
                                </span> -->
                                <!-- <span class="error"
                                    *ngIf="IdTypeOwnerShipFormgroup.controls['Idnumber'].errors?.maxlength">
                                    {{lang.step11.t7}}
                                </span> -->
                            </div>

                            <div>
                                <div class="registerLabelCss">{{lang.step8.t22.t2}}<span style="color: red;">*</span>
                                </div>

                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker3" autocomplete="off" [max]="enddate"
                                        formControlName="Dob" name="sd">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3 [calendarHeaderComponent]="headerComponent">
                                    </mat-datepicker>
                                </mat-form-field>

                            </div>
                            <div class="mt-3 mb-2 text-right">
                                <button class="btn btn-primary" [disabled]="IdTypeOwnerShipFormgroup.invalid"
                                    (click)="validateWHDeclarationIdz();">{{lang.step8.t22.btn1}}</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal modal-filter fade" dir={{direction}} [ngClass]="{'lang-arabic':direction=='rtl'}" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="errormodel">
    <div class="modal-dialog d-flex align-items-center height100VH my-0 mx-auto justify-content-center" role="document">
        <div class="modal-content">
            <div class="text-right modal-filter-head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    [ngClass]="{'arabic-btn':Language == 'A'}">
                    <span class="material-icons font-28">
                        clear
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-inner mb-16">
                    <div class="font-12 text-Gray">
                        {{errorMessage}}
                    </div>
                </div>
                <div class="form-group text-right" [ngClass]="{'arabic-btn':Language == 'A'}">
                    <button class="btn btn-primary" data-dismiss="modal">{{lang.step1.btn3}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>