.pwdcss {
    /* color: #00e695; */
    width: fit-content;
  }
  
  .checkCss {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
  
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #d2a02a;
  }
  
  ::ng-deep .mat-progress-bar {
    height: 8px !important;
    border-radius: 3.5px !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #13614c !important;
    /* Red background for example */
  }
  
  .btnArbCss {
    font-family: SSTArabic-Medium;
    color: white;
    border-radius: 9px;
    background-color: #d2a02a;
  }
  
  .btnCss {
    width: 150px;
    height: 49px;
    font-family: SSTArabic-Medium;
    color: white;
    border-radius: 9px;
    background-color: #d2a02a;
    font-size: 14px;
  }
  
  /* .ackArbCss {
      float: right;
    } */
  
  .pwdCssz {
    font-family: SSTArabic-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
  }
  
  .pwdCssz2 {
    font-family: SSTArabic-Light;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: normal;
    text-align: right;
  }
  
  .tnc {
    font-family: SSTArabic-Bold;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
  
  .text-success {
    color: #00e695 !important;
  }
  
  .text-error {
    color: red !important;
  }