<div class="container" [dir]="direction">
  <nav class="p-3" style="background-image: url('assets/images/header02.jpg');">
    <div class="d-flex m-0 justify-content-between">
      <div class="text-white">
        <div class="pointer-hand text-left" [routerLink]="['/signup']">
          <i class="ionicons "
            [ngClass]="{'ion-arrow-left-c':direction=='ltr','ion-arrow-right-c':direction=='rtl'}"></i>
          <!-- <i class="fa" [ngClass]="{'fa-arrow-left':direction=='ltr','fa-arrow-right':direction=='rtl'}"></i> -->
          &nbsp;{{lang.back}}
        </div>
        <div class="titleCssS">
          {{lang.title}}
        </div>
      </div>
      <div class="">
        <img height="74px" class="rounded-circle bg-white p-3" src="assets/images/consortium_logo.png" alt="Logo">
      </div>
    </div>
  </nav>
  <div *ngIf="!showAcknowledgement" class="mt-4">
    <!-- [@.disabled]="true" -->
    <mat-horizontal-stepper [disableRipple]="true" [hidden]="hideOnOtpVerification" [linear]="true"
      #mainStepper labelPosition="bottom" (selectionChange)="onMainStepChange($event)">
      <mat-step [stepControl]="companyForm.get('orgInfo')" [label]="lang.header.h1">
        <form [formGroup]="companyForm" autocomplete="off">
          <div class="row">
            <div class="col-12 pl-0 pr-0">
              <form formGroupName="orgInfo" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c1.title}}
                      <!-- {{companyForm.get('orgInfo').get('companyName').valid}} -->
                      <!-- {{companyForm.get('orgInfo').get('companyName').invalid}} -->
                      <!-- && companyForm.get('orgInfo').get('companyName').value -->
                      <!-- {{companyForm.get('orgInfo').get('contractNumber').invalid }} -->
                      <!-- {{companyForm.get('orgInfo').get('companyID').invalid }} -->
                      <mat-icon
                        *ngIf="!companyForm.get('orgInfo').get('companyName').invalid && !companyForm.get('orgInfo').get('contractNumber').invalid && !companyForm.get('orgInfo').get('companyID').invalid"
                        [ngClass]="
                          direction === 'rtl'
                            ? 'checkCircleARB'
                            : 'checkCircleENG'
                        ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4" *ngIf="compnayDetails.Tin">
                        <div class="registerLabelCss"> {{lang.c1.in1}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput maxlength="10" mask="0000000000" formControlName="tinNumber" />
                          <mat-error
                            *ngIf="!companyForm.get('orgInfo').get('tinNumber').hasError('pattern') && companyForm.get('orgInfo').get('tinNumber').hasError('minlength')">
                            {{lang?.err?.tinNumberMinlength}}
                          </mat-error>
                          <mat-error *ngIf="companyForm.get('orgInfo').get('tinNumber').hasError('pattern')">
                            {{lang?.err?.tinNumberStartWith}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c1.in2}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput maxlength="10" mask="0000000000" formControlName="companyID"
                            (blur)="onCompanyIDChange();" />
                          <mat-error
                            *ngIf="!companyForm.get('orgInfo').get('companyID').hasError('pattern') && companyForm.get('orgInfo').get('companyID').hasError('minlength')">
                            {{lang.err.companyidlength}}
                          </mat-error>
                          <mat-error *ngIf="companyForm.get('orgInfo').get('companyID').hasError('pattern')">
                            {{lang.err.companyidstartwitherr}}
                          </mat-error>
                          <mat-error *ngIf="companyForm.get('orgInfo').get('companyID').hasError('required')">
                            {{lang.err.enterCmpnyID}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c1.in3}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput maxlength="40" formControlName="companyName" />
                          <mat-error *ngIf="companyForm.get('orgInfo').get('companyName').hasError('required')">
                            {{lang?.err?.enterCompanyName}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('orgInfo').get('companyName').hasError('containsOnlyNumbers')">
                            {{lang?.err?.containsOnlyNumbers}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('orgInfo').get('companyName').hasError('containsSpecialChars')">
                            {{lang?.err?.containsSpecialChars}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <!-- <div class="col-4">
                        <div class="registerLabelCss required">{{lang.c1.in4}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput mask="0{20}" [validation]="false" formControlName="contractNumber" />
                          <mat-error *ngIf="companyForm.get('orgInfo').get('contractNumber').hasError('required')">
                            {{lang?.err?.enterContractNumber}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-4 hide-arrow">
                        <div class="registerLabelCss">{{lang.c1.in5}}</div>
                        <mat-form-field appearance="outline" class="text-muted">
                          {{lang?.c1?.reportingBranch}}
                          <mat-select formControlName="reportingBranch" [hidden]="true" [disabled]="true">
                            <mat-option [value]="branch.Augrp" *ngFor="let branch of reportingBranchesList">
                              {{branch.Bez50}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div> -->
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
              <form formGroupName="contactInfo" autocomplete="off">
                <mat-card class="mt-3">
                  <mat-card-content>
                    <div class="sideHeading">
                      {{lang.c2.title}}
                      <mat-icon *ngIf="companyForm.get('contactInfo').valid" [ngClass]="
                direction === 'rtl'
                  ? 'checkCircleARB'
                  : 'checkCircleENG'
              ">check_circle
                      </mat-icon>
                      <p class="Rectangle-12"></p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="registerLabelCss required"> {{lang.c2.in1}}</div>
                        <div class="row m-0">
                          <mat-form-field [ngClass]="{'order-2':direction=='rtl'}" style="width: 30%;"
                            appearance="outline">
                            <mat-select formControlName="mobileCode" (selectionChange)="onMobileCodeChange()">
                              <mat-select-trigger>
                                +{{companyForm.get('contactInfo.mobileCode').value}}
                              </mat-select-trigger>
                              <mat-option [value]="item.Telefto" *ngFor="let item of phoneCodes">
                                <!-- {{ item.Land1 }}&nbsp; +{{item.Telefto}} -->
                                <div dir="ltr" class="d-flex justify-content-between">
                                  <div class="" style="font-size: 14px;">
                                    +{{ item.Telefto }}
                                  </div>
                                  <div class="text-truncate pl-4" [title]="item.Landx50" style="font-size: 14px;">
                                    {{ item.Landx50 }}
                                  </div>
                                </div>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field [ngClass]="{'order-1':direction=='rtl'}" style="width: 70%;"
                            appearance="outline">
                            <input matInput mask="0{10}" [validation]="false" formControlName="mobileNumber" />
                            <mat-error
                              *ngIf="companyForm.get('contactInfo').get('mobileNumber').hasError('required')">
                              {{lang?.err?.enterMobileNumber}}
                            </mat-error>
                            <mat-error
                              *ngIf="companyForm.get('contactInfo').get('mobileNumber').hasError('startsWithZero')">
                              {{lang?.err?.startsWithZero}}
                            </mat-error>

                            <!-- <mat-error
                            *ngIf="companyForm.get('contactInfo').get('mobileNumber').hasError('startsWith')">
                            {{lang.err.mobilenumbererr}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('contactInfo').get('mobileNumber').hasError('minlength') && !companyForm.get('contactInfo').get('mobileNumber').hasError('startsWith')">                            
                          </mat-error> -->
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="registerLabelCss required">{{lang.c2.in2}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput type="email" formControlName="email" maxlength="260" />
                          <mat-error *ngIf="companyForm.get('contactInfo').get('email').hasError('required')">
                            {{lang.err.enterEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('contactInfo').get('email').value && companyForm.get('contactInfo').get('email').invalid">
                            {{lang.err.emailinvalid}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <div class="registerLabelCss required">{{lang.c2.in3}}</div>
                        <mat-form-field appearance="outline">
                          <input matInput type="email" formControlName="confirmEmail" maxlength="260" />
                          <mat-error *ngIf="companyForm.get('contactInfo').get('confirmEmail').hasError('required')">
                            {{lang.err.enterEmail}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('contactInfo').get('confirmEmail').value && companyForm.get('contactInfo').get('confirmEmail').invalid && !companyForm.get('contactInfo').get('confirmEmail').hasError('notMatch')">
                            {{lang.err.emailinvalid}}
                          </mat-error>
                          <mat-error
                            *ngIf="companyForm.get('contactInfo').get('confirmEmail').value && companyForm.get('contactInfo').get('confirmEmail').hasError('notMatch')">
                            {{lang?.err?.emailsNotMatch}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
          </div>
          <!-- [disabled]="companyForm.get('orgInfo').invalid || companyForm.get('contactInfo').invalid" -->
          <div class="row mt-5 mb-5">
            <div class="col-12 pl-0 pr-0">
              <div class="d-flex justify-content-start mt-5 mb-5">
                <button (click)="onSubmitStep1();" class="rounded btnCss save-btn" mat-button> {{lang?.continue}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="step2Validated && step2Completed" [label]="lang.header.h2">

        <signup-residentiary-details [tin]="companyForm.get('orgInfo').get('tinNumber').value"
        [tpType]="1" (onResDetailsChange)="onResDetailsChange($event);" [regSet]="registrationObj">
        </signup-residentiary-details>

        <branches-details [mainStepperControl]="mainStepper" [Taxtpdetermination]="1" *ngIf="showBranchDetails"
          [regSet]="registrationObj"
          (onBranchSaveSuccess)="onBranchSaveSuccess($event);" (onBranchSaveEror)="onBranchSaveEror($event);">
        </branches-details>

        <shareholders-details *ngIf="showShareholdersDetails" [mainStepperControl]="mainStepper" [regSet]="registrationObj" [Taxtpdetermination]='1'
          [commDate]="businessCommencementDate" (onShareholderSaveSuccess)="onShareholderSaveSuccess($event);"
          (onShareholderSaveEror)="onShareholderSaveEror($event);"></shareholders-details>

        <financial-details [mainStepperControl]="mainStepper" [regSet]="registrationObj" [hidden]="!showFinancialDetails"
          [financialDetails]="companyForm.get('financialDetails')" [commDate]="businessCommencementDate"
          (onFinancialInfoChange)="onFinancialInfoChange($event);">
        </financial-details>

        <div class="d-flex justify-content-start mt-5 mb-5" *ngIf="showContinue">
          <div class="row mt-5 mb-5">
            <div class="col-12">
              <button (click)="validateStep2();" class="rounded btnCss save-btn" mat-button>{{lang?.continue}}</button>
            </div>
          </div>
        </div>

      </mat-step>     
      <mat-step [label]="lang.header.h3" [completed]="step3Completed">
        <signup-create-password [type2]="'ZVTI'" (completed)="submitConsortiumRegistration($event)">
        </signup-create-password>
      </mat-step>

      <ng-template matStepperIcon="create">
        <mat-icon>brightness_1</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <mat-icon>brightness_1</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>check_circle</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index" let-active="active">
        <mat-icon *ngIf="!mainStepper.selected.interacted">panorama_fish_eye</mat-icon>
        <mat-icon *ngIf="mainStepper.selected.interacted">brightness_1</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
  </div>
  <signup-otp *ngIf="hideOnOtpVerification" [params]="otpParams" (onOTPSuccess)="onOTPSuccess($event)"
    (onInvalidOTP)="onInvalidOTP($event)" (onOTPError)="onOTPError($event)">
  </signup-otp>
  <mat-card class="mt-4" *ngIf="showAcknowledgement">
    <mat-card-content>
      <div class="row text-center mt-4">
        <div class="col-12">
          <div>
            <img src="assets/image/success.svg" width="112px" />
          </div>
          <div class="mt-4 mb-4">
            <h3 class="font-weight-bold">{{ lang?.acknowledgement?.title}}</h3>
            <h6 class="font-weight-bold mt-4 mb-4">{{ lang?.acknowledgement?.message}}</h6>
          </div>
          <div class="offset-3 col-6 p-3 border mb-4 rounded">
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.name}}</h6>
              <h6 class="font-weight-bold m-0 p-0">{{companyName || 'Company Name'}}</h6>
            </div>
          </div>
          <div class="offset-3 col-6 p-3 border mb-4 rounded">
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.appno}}</h6>
              <h6 class="font-weight-bold m-0 p-0">{{applicationNo || 'Application Number'}}</h6>
            </div>
          </div>
          <div class="offset-3 col-6 p-3 border mb-4 rounded">
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-bold text-muted m-0 p-0">{{lang.acknowledgement?.info?.date}}</h6>
              <h6 class="font-weight-bold m-0 p-0" dir="ltr"><span>{{applicationSubmissionDate | date:'dd MMM yyyy'}}</span></h6>
            </div>
          </div>
          <div class="mt-4 mb-4">
            <button mat-button class="btnCss rounded ackloginbtn" [routerLink]="['/login']">
              {{ lang.acknowledgement?.info?.login_link_label }}
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<notifier-container  [dir]="direction"></notifier-container>

<div class="modal sh-info-modal" id="errorMsgsModal" data-keyboard="false" data-backdrop="static" [dir]="direction">
  <div class="modal-dialog modal-lg max-width-550">
      <div class="modal-content">
          <div class="modal-header text-white text-center">
              <p class="modal-title  text-white text-center">
                  <i class="fa fa-info-circle"></i>&nbsp;{{lang?.error}}
              </p>
          </div>
          <div class="modal-body">
              <div class="row mt-3">
                  <div class="col-12 text-left text-error">
                      <h6 *ngFor="let error of errorMsgsList" class="font-weight-normal font-14">{{error?.message}}
                      </h6>
                  </div>
                  <div class="col-12 mt-3 mb-2 text-right">
                      <button mat-raised-button class="rounded save-btn btn-bg-success" type="button"
                          style="width: auto;" (click)="closeModal('errorMsgsModal')">{{lang?.ok}}
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>