.title1 {
  font-family: SSTArabic-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
}

.viewMore {
  font-family: SSTArabic-Bold;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: start;
  color: #006450;
  padding-left: 9px;
}

.secondTitle {
  font-family: SSTArabic-Bold;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #232323;
}

.secondTitle1 {
  font-family: SSTArabic-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
}

.btnCss {
  width: 207px;
  height: 48px;
  border-radius: 14px;
  font-family: SSTArabic-Bold;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #d2a02a;
}

.btnCssDisabled {
  width: 207px;
  height: 49px;
  border-radius: 14px;
  font-family: SSTArabic-Bold;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff!important;
  background-color: #d2a02a80!important;
}

.mobileNumberText {
  width: 195px;
  height: 24px;
  object-fit: contain;
  font-family: SST-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
}

.custom {
  border: 1px solid;
  height: 52px;
  margin-top: 20px;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.12);
}

#custom input[type="text"]:focus {
  box-shadow: 0px 0px 0px 2px #13614c, inset 0 0 0px 0px #13614c;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#custom .mat-select:focus {
  box-shadow: 0px 0px 0px 2px #13614c, inset 0 0 0px 0px #13614c;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

::ng-deep #code .mat-select-trigger {
  height: 3.125em;
}
::ng-deep #code .mat-select-value {
  padding-top: 13px;
    padding-left: 9px;
    text-align: center;
}

.time-picker-component .mat-form-field-infix {
  display: inherit;
}

/* .cdk-overlay-container .cdk-overlay-pane .testClass{
  transform: translate3d(16px, 22px, 0px)!important;
  } */

  ::ng-deep #code .mat-select-arrow-wrapper {
   padding-top: 5px;
}

/* OTP */
.vBox :focus {
  /* outline-style: hidden!important; */
  outline-color: #d2a02a!important;
  /* border-radius: 0px!important; */
  border: 1px solid #d2a02a !important;
}

.vBox :hover {
  border-color: #d2a02a;
}

.vBox {
  display: flex;
  justify-content: initial;
  align-items: center;
}

.Verif-box {
  width: 80px;
  height: 80px;
  border-radius: 9px;
  border: solid 3px #707070;
  margin-right: 15px;
  background-color: var(--white-two);
}

.ash {
  width: 54px;
  height: 53px;
  border-radius: 9px;
  border: solid 1px #707070;
  font-family: SSTArabic-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #100f0f;
}

.smallHeading {
  object-fit: contain;
  font-family: SSTArabic-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #999999;
  /* text-align: center; */
}

.resend {
  width: 194px;
  height: 24px;
  object-fit: contain;
  font-family: SST;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #006450;
}

.exciseAccCss1 {
  font-family: SSTArabic-Bold;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
}

.exciseAccCss2 {
  font-family: SSTArabic-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

.exciseAccCssBox {
  margin-left: 30%;
  margin-right: 30%;
  height: 56px;
  border-radius: 14px;
  border: solid 1px #ebebeb;
}

.exciseAccCssBox1 {
  text-align: start;
  font-family: SSTArabic-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999999;
  position: relative;
  top: 12px;
  left: 10px;
}

.exciseAccCssBox2Arb {
  font-family: SSTArabic-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #232323;
    float: left;
    position: relative;
}

.exciseAccCssBox2 {
  font-family: SSTArabic-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #232323;
  float: right;
  position: relative;
  right: 15px;
}

.mobileInputEng {
  width: 80% !important;
  padding-left: 12px;
  text-align: start;
}

.mobileInputArb {
  width: 80% !important;
  padding-right: 12px;
  direction: rtl;
  text-align: start;
}

.arabicFont {
  font-family: GE_SS_Two_Medium !important;
}

.arabicFont .mat-select-value-text{
  font-family: GE_SS_Two_Medium !important;
}
