.vText {
    font-family: SSTArabic-Light;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.96;
    letter-spacing: normal;
    text-align: center;
    color: #100f0f;
    padding-top: 50px;
  }
  
  .Verif-box {
    width: 80px;
    height: 80px;
    border-radius: 9px;
    border: solid 3px #707070;
    margin-right: 15px;
    background-color: var(--white-two);
  }
  
  .vBox :focus {
    /* outline-style: hidden!important; */
    outline-color: #d2a02a!important;
    /* border-radius: 0px!important; */
    border: 1px solid #d2a02a !important;
  }
  
  .vBox :hover {
    border-color: #d2a02a;
  }
  
  .vBox {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .ash {
    width: 54px;
    height: 53px;
    border-radius: 9px;
    border: solid 1px #707070;
    font-family: SSTArabic-Bold;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #100f0f;
  }
  
  .timer {
    font-family: SSTArabic-Bold;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #100f0f;
  }
  
  .resend {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  
  .resend {
    font-family: SSTArabic-Bold;
    background: none!important;
    border: none;
    cursor: pointer;
    /* text-decoration: underline; */
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color:#006450;
    
  }
  
  
  