.card {
  border-color: #ebebeb !important;
  border-radius: 14px !important;
}

.card-header {
  background-color: #fff !important;
  padding: 25px 18px !important;
}

.card-header:first-child {
  border-radius: 13px 13px 0 0 !important;
}

.card-body {
  padding: 0 !important;
  margin: 0px !important;
  height: 530px !important;
}

.w-37 {
  width: 37% !important;
}

.w-63 {
  width: 63% !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.list-group {
  padding-right: 0 !important;
}

.list-group-item {
  cursor: pointer !important;
  padding: 24px 17px !important;
  background: transparent;
  border-radius: 0px !important;
}

.list-group, .list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:hover {
  box-shadow: 0 4px 8px 0 #2323231a !important;
  background: none;
  border-color: #2323231a;
}

.list-group-item.selected {
  background: rgba(0, 0, 0, 0) linear-gradient(106deg, rgb(0, 157, 136) 3%, rgb(0, 100, 80) 85%) repeat scroll 0% 0%;
  color: #fff !important;
}

.dot {
  width: 10px !important;
  height: 10px !important;
  display: inline-block !important;
  border-radius: 100% !important;
}

.dot-orange {
  color: #d99a29 !important;
  background-color: #d99a29 !important;
}

.text-muted {
  color: #999999 !important;
}

.list-group-item.selected .text-muted {
  color: #fff !important;
}

.pointer-hand {
  cursor: pointer !important;
}

.empty-message {
  position: absolute !important;
  top: 40% !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}

.image-rtl {
  transform: scaleX(-1);
}

/* ******************************** Search Bar ****************************************** */

.input-group .form-control, .input-group .input-group-text {
  border-color: #999999 !important;
}

.input-group>.form-control {
  border-right: 0;
  border-top-left-radius: 14px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 14px !important;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
  background: #fff !important;
}

.input-group .form-control:focus {
  box-shadow: none !important;
  border: 1px solid #999999 !important;
  border-right: none !important;
}

[dir="rtl"] .input-group>.form-control {
  border: 1px solid #999999 !important;
  border-left: 0 !important;
  border-top-right-radius: 14px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 14px !important;
}

[dir="rtl"] .input-group>.input-group-append>.input-group-text {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 0 !important;
  background: #fff !important;
  border: 1px solid #999999 !important;
  border-right: 0 !important;
}

[dir="rtl"] .input-group .form-control:focus {
  box-shadow: none !important;
  border: 1px solid #999999 !important;
  border-left: none !important;
}

/* ******************************** Search Bar Ends ****************************************** */