.inbox {
  max-width: 900px;
  color: var(--dark) !important;
  font-family: inherit !important;
}

.title-rtl {
  text-align: right;
}

.tabs {
  height: 40px;
  border-bottom: 1px solid var(--light);

  display: flex;
}

.tabs-rtl {
  flex-direction: row-reverse;
}

.tab:not(:last-child) {
  margin-right: 32px;
}

.tab-rtl:not(:last-child) {
  margin-left: 32px;
}

.tab-selected {
  color: #151515 !important;
  font-weight: bold;
  border-bottom: 4px solid var(--secondary);
}
