/* dont use pl-2 , pr-2  , ml-2 , mr-2 ,   instead of use margin-inline-start and inline-end  properties of css  */

:root {
  --primary: #006450;
  --secondary: #d99a29;
  --dark: #232323;
  --gray: #999999;
  --light: #ebebeb;
  --success: #95d600;
  --error: #aa0c19;
  --warning: #e39800;
  --inputHeight: 48px;
  --inputBorderRadius: 14px;
  --inputPadding: 15px;
}

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
app-inbox,
app-sukuk-bonds,
app-task-allocation,
app-authorization,
app-account-statement,
app-add-user,
app-commitment,
app-user-management,
app-common-component,
app-correspondance,
app-installment-detail,
app-new-change-filing-frequency,
app-new-request-ruling,
app-new-vat-refund,
app-new-vat-review,
app-new-white-list-request,
app-new-withholding-tax-objection,
app-new-zakat-objection,
app-objection-reviews,
app-reprint-vat-certificate,
app-reques-to-release-securities,
app-request-certificate,
app-request-installment,
app-witholding-tax-objection,
app-zakat-details,
app-zakat-objection,
app-new-appeal-refund,
app-new-excise-tax-refund,
app-new-exports-refund,
app-refund-type,
app-new-sale-assets-refund,
app-refund-success,
app-request-filter-dialog,
app-dialog-box,
app-download-dialog,
app-filter-dialog,
app-statement-detail,
app-statement-list,
app-it-reduction-list,
app-request-income-tax-reduction,
app-whitelisting,
app-userdetails,
app-deferral-vat-payment,
app-edit-user,
app-add-goods-loss,
app-report-excise-goods,
app-request-for-contract-release-form,
app-input-tax-list,
app-tnc,
app-input-tax-request,
app-vat-field-inspection,
app-field-inspection-cases,
app-download-dialog-box,
app-monthly-movement-declaration,
app-whitelisting-success,
app-refunds-landing,
app-vat-installment-plan {
  .toggle {
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border: solid 1px var(--light);
    width: 60px;
    height: 60px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
  }
  .fwb {
    font-weight: bold;
  }
  .alignStart {
    text-align: start;
  }
  .alignEnd {
    text-align: end;
  }
  .justifyContentStart {
    justify-content: flex-start;
  }
  .justifyContentEnd {
    justify-content: flex-end;
  }
  .bcTitle {
    font-family: SSTArabic-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--gray);
    font-weight: 500;
  }
  .bcTitleActive {
    color: var(--dark);
  }
  .unicodeDir {
    unicode-bidi: isolate;
  }
  .pageTitle {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
  }
  .sectionTitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
  .value {
    font-size: 16px;
    line-height: 24px;
    font-weight: medium;
  }
  .textDark {
    color: var(--dark);
  }
  .textLight {
    color: var(--light);
  }
  .textGray {
    color: var(--gray);
  }
  .textPrimary {
    color: var(--primary);
  }
  .paragraph {
    font-size: 16px;
    line-height: 24px;
    font-weight: Roman;
  }
  .caption {
    font-size: 12px;
    line-height: 16px;
    font-weight: Roman;
  }
  .btnPrimary {
    min-width: 207px;
    background-color: var(--secondary);
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    height: 48px;
    border-radius: 14px !important;
    border: none;
  }
  .btnPrimary:hover {
    cursor: pointer;
  }
  .btnSecondary {
    min-width: 207px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary);
    text-align: center;
    line-height: 1.5;
    height: 48px;
    border: none;
  }
  .btnSecondary:hover {
    cursor: pointer;
  }
  .border {
    border: solid 1px var(--light);
    border-radius: 14px;
  }
  .stepHeader {
    font-family: SSTArabic-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: start;
    color: var(--primary);
  }
  .stepNumber {
    font-family: SSTArabic-Roman;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--gray);
    position: relative;
    top: 6px;
    text-align: end;
  }
  .stepBack {
    cursor: pointer;
    text-align: start;
  }
  .matLabel {
    font-family: SSTArabic-Roman;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--gray);
  }
  .card-uploaded,
  .card-upload {
    height: 216px;
    max-width: 410px;
    padding: 24px;
    background: #ffffff !important;
  }
  .card-delete {
    text-align: end;
  }
  .card-delete > img {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  .card-file-content {
    text-align: center;
    height: 74%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-upload-content {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card-main-text {
    width: 70%;
    margin: 0 auto;
  }
  .dateRangeLabel {
    font-family: SSTArabic-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--gray);
    position: relative;
    top: 5px;
    margin-right: 10px;
    cursor: pointer;
    width: 100%;
  }
  .selector-card {
    cursor: pointer;
    text-align: start;
    background-image: url("assets/image/unselected.svg");
    background-size: cover;
    background-position: center;
    max-width: 207px;
    height: 104px;
    color: var(--dark);
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }
  .selector-card-active {
    color: white;
    background-image: url("assets/image/selected.svg");
  }
  .check > .mat-checkbox-label {
    font-size: 12px !important;
    color: #232323 !important;
    margin-inline-start: 10px !important;
    font-weight: bold !important;
  }
  .check > .mat-checkbox-inner-container {
    height: 24px !important;
    width: 24px !important;
    border-radius: 6px !important;
  }
  .check > .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-accent .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate {
    background-color: var(--primary) !important;
    /* Red background for example */
  }
  .return-card {
    cursor: pointer;
    width: 438px;
    height: 222px;
    background-image: url("assets/image/selected.svg");
    background-size: cover;
    background-position: center;
    text-align: start;
    color: white;
  }
  .return-card-inactive {
    color: var(--dark);
    background-image: url("assets/image/unselected.svg");
  }
  .return-card-inactive .caption {
    color: var(--gray);
  }
  .return-card-inactive .divider {
    background-color: var(--light);
    opacity: 1;
  }
  .verticallyCenter {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .divider {
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  .add-card {
    cursor: pointer;
    max-width: 430px;
    height: 55px;
    background-color: white;
    text-align: start;
    border: solid 1px var(--light);
    border-radius: 14px;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
  }
  .add-card-large {
    cursor: pointer;
    max-width: 430px;
    height: 240px;
    background-color: white;
    text-align: center;
    border: solid 1px var(--light);
    border-radius: 14px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
  }
  .filing-card {
    max-width: 430px;
    height: 240px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
  }
  .filing-card .divider {
    background-color: var(--light);
    opacity: 1;
  }
  .filing-card-upper {
    height: 86px;
    align-items: center;
  }
  .filing-card-down {
    height: 150px;
    align-items: center;
    align-content: space-evenly;
  }
  .tag32 {
    height: 32px;
    width: 84px;
    border-radius: 14px;
    border: solid 1px var(--light);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
  }
  .tag31 {
    height: 32px;
    width: 114px;
    border-radius: 14px;
    border: solid 1px grey;
    font-size: 12px;
    display: flex;
    // align-items: center;
    // margin-inline-start: 20px;
    // justify-content: center;
    line-height: 16px;
    padding: 0 10px;
  }
  .tag-success {
    background-color: rgba(0, 100, 80, 0.1);
    color: var(--primary);
  }
  .tag-partial {
    background-color: rgba(217, 154, 41, 0.2);
    color: var(--secondary);
  }
  .tag-danger {
    background-color: rgba(170, 12, 25, 0.1);
    color: var(--error);
  }
  .tag-unsubmit {
    background-color: var(--light);
    color: var(--gray);
  }
  .commonInput {
    border-radius: var(--inputBorderRadius);
    border: solid 1px var(--gray) !important;
    max-width: 437px;
    height: var(--inputHeight);
    width: 437px;
    outline: none;
    padding: 0 var(--inputPadding);
    font-family: SSTArabic-Roman;
    color: var(--dark);
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
  }
  .commonInput:hover {
    border: solid 2px var(--dark);
  }
  .commonInput:focus,
  .commonInput:active {
    border: solid 2px var(--primary) !important;
  }
  .commonInput::placeholder {
    color: var(--gray);
    font-size: 16px;
  }
  .commonInput:disabled {
    pointer-events: none;
  }
  .labelMarginBottom {
    margin-bottom: 7px;
  }
  .helperMarginTop {
    margin-top: 8px;
  }
  /* .commonMatSelect .mat-select {
    
} */
  .commonMatSelect {
    border-radius: var(--inputBorderRadius);
    border: solid 1px var(--gray);
    max-width: 437px;
    height: var(--inputHeight);
    width: 437px !important;
    outline: none;
    box-sizing: border-box;
    padding: 10px var(--inputPadding);
    font-family: SSTArabic-Roman;
    color: var(--dark);
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
    cursor: pointer;
    /* background: url("assets/image/arrow-down-gray.svg") no-repeat right 10px top 12px transparent; */
  }
  .commonMatSelect .mat-select-panel {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  .commonMatSelect .mat-select-panel .mat-option:hover {
    /* background-color: #0653ab !important; */
    background-color: var(--light) !important;
    color: var(--dark) !important;
  }
  .commonMatSelect .mat-select-value {
    color: var(--dark) !important;
  }
  .commonMatSelect .mat-select-arrow {
    background: url("assets/image/arrow-down-gray.svg");
    border: none;
    width: 24px;
    height: 24px;
  }
  .commonMatSelect:hover {
    border: solid 2px var(--dark);
  }
  .commonMatSelect:active,
  .commonMatSelect:focus {
    border: solid 2px var(--primary) !important;
  }
  .commonMatSelect:focus .mat-select-arrow,
  .commonMatSelect:active .mat-select-arrow {
    background: url("assets/image/arrow-down-green.svg");
  }
  .commonMatSelectInvalid {
    border: solid 2px var(--error) !important;
  }
  .commonMatSelectInvalid:active,
  .commonMatSelectInvalid:focus {
    border: solid 2px var(--error) !important;
  }
  /* .commonMatSelect .mat-select-disabled:hover {
    border: solid 1px var(--gray);
} */
  .commomDatePicker {
    margin: 0;
    border-radius: var(--inputBorderRadius);
    border: solid 1px var(--gray);
    max-width: 437px;
    height: var(--inputHeight);
    width: 437px;
    font-size: 16px;
    width: 437px;
    padding-inline-start: var(--inputPadding);
    padding-inline-end: var(--inputPadding);
    padding-top: 3px;
    color: var(--dark);
    box-shadow: 0 2px 4px 0 rgba(35, 35, 35, 0.1);
  }
  .commomDatePicker input {
    border: none;
    width: 90%;
  }
  .commomDatePicker:hover {
    border: solid 2px var(--dark);
  }
  .commomDatePicker:active,
  .commomDatePicker:focus {
    border: solid 2px var(--primary) !important;
  }
  .dateRangePicker {
    display: flex;
    border: solid 1px var(--gray);
    font-family: SSTArabic-Roman;
    border-radius: var(--inputBorderRadius);
    font-size: 16px;
    width: 437px;
    max-width: 437px;
    box-sizing: border-box;
    height: var(--inputHeight);
    padding: 3px 10px;
  }
  .dateRangePicker input {
    font-family: SSTArabic-Roman;
    font-size: 16px;
    width: 37%;
    padding-inline-start: calc(var(--inputPadding) - 10px);
  }
  .dateRangePicker:hover {
    border: solid 2px var(--dark);
  }
  .dateRangePicker:active,
  .dateRangePicker:focus {
    border: solid 2px var(--primary) !important;
  }
  .dateRangePicker input::placeholder {
    text-align: center;
    font-family: SSTArabic-Roman;
  }
  /* .cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
} */
  // .cdk-global-overlay-wrapper,
  // .cdk-overlay-container {
  //   z-index: 1050 !important;
  // }
  // .cdk-overlay-connected-position-bounding-box {
  //   z-index: 1050 !important;
  // }
  .invalid-feedback {
    margin-top: -0.75rem !important;
  }
  .modal-content {
    border-radius: 14px !important;
  }
  .mat-select-value-text {
    font-family: "SSTArabic-Roman" !important;
  }
  .onhover-hand {
    cursor: pointer !important;
  }
  .onhover-notallowed {
    cursor: not-allowed !important;
  }
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 1050 !important;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 1050 !important;
}

.error-border {
  border-color: #d83b01;
}

.error-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #d83b01;
  padding: 0 15px;
  font-size: 14px;
  margin-bottom: 5px;
  .input-error {
    border: 1px solid red !important;
  }
}
