.container {
    width: 100%;
  
    /* padding: 0 8%; */
  }
  
  
  
  .rotateImage{
    transform: rotate(180deg);
  }
  
  .Request-Details {
    width: 212px;
    height: 36px;
    object-fit: contain;
    /* font-family: SST; */
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--neutral-fills-neutral-090);
    margin: 10px 0;
  }
  
  .Complete-the-below-d {
    width: 898px;
    height: 24px;
    object-fit: contain;
    font-family: SST-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--neutral-fills-neutral-035);
  }
  .numberInput {
    width: 160px;
    height: 32px;
    text-align: end;
    border: 1px solid #999999;
    padding: 0 15px;
    border-radius: 14px;
    display: block;
    float: right;
  }
  
  .block-1 {
    padding-left: 2%;
  }
  
  .block {
    padding-left: 3%;
  }
  
  .block-2 {
    padding: 20px 15px;
  }
  
  .block-11 {
    position: absolute;
    margin-top: 26px;
    width: 100%;
  }
  
  .block-14 {
    max-width: 82%;
  }
  
  .block-15 {
    padding: 19px 35px;
  }
  
  .General {
    width: 690px;
    height: 24px;
    /* font-family: SST; */
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #232323;
    padding: 10px 0;
  }
  
  .Placeholder-text-Copy {
    height: 24px;
    /* font-family: SST; */
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #232323;
    margin: 22px 0px;
  }
  
  .hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 0px;
  }
  

  
  /* <!-- screen2 --> */
  
  ::placeholder {
    font-size: 16px;
    font-weight: bold;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #232323;
    opacity: 1; /* Firefox */
  }
  .pageTitle
  {
    font-family: SSTArabic-Bold;
  }
  .checkbox-content {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.17px;
    color: #232323;
  }
  
  .block-12 {
    width: 100% !important;
  }
  
  .block-1 {
    width: 84% !important;
  }
  
  .styles {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 4%;
  }
  
  /* <!-- screen3 --> */
  
  .label-style {
    font-size: 16px;
    color: #232323;
  }
  
  .card-style {
    margin: 0 2%;
  }
  .breakWordWrap{
    word-wrap: break-word;
  }
    .removeMargin {
    margin: 0;
  }
  
  /* <!-- screen4 --> */
  
  .center {
    margin-top: 10%;
  }
  
  .dot {
    height: 48px;
    width: 48px;
    background-color: #006450;
    border-radius: 50%;
    display: inline-block;
  }
  
  .roundedIcon {
    height: 48px;
    width: 48px;
    background-color: rgba(0, 100, 80, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .block-10 {
    margin-top: 13px;
    position: absolute;
    margin-left: 20px;
  }
  
  .edit-button {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #006450;
    padding-top: 34px;
  }
  
  .block-3 {
    padding: 0px;
  }
  
  .block-4 {
    font-size: 16px;
    margin-top: 23px;
    margin-bottom: 9px;
  }
  
  .block-5 {
    margin-bottom: 15px;
  }
  
  .block-6 {
    margin-right: 10px;
  }
  
  .block-7 {
    margin-bottom: 40px;
  }
  .filterIconAr {
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .filterLineEn {
    width: 24px;
    float: left;
    height: 4px;
    border-radius: 2px;
    background-color: #d99a29;
  }
  
  
  /* <!-- screen5 --> */
  
  .mini-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .Success {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }
  
  .block-8 {
    text-align: center;
  }
  
  .sub-heading {
    font-size: 16px;
    text-align: center;
    color: #999999;
  }
  
  .dashboard-heading {
    font-size: 16px;
    text-align: center;
    color: #d99a29;
    font-weight: bold;
  }
  
  .block-9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vCenter {
    align-items: center;
  }
  
  .block-13 {
    max-width: 44%;
  }
  
  .font-color {
    font-size: 12px;
    color: #999999;
    margin-left: 5%;
  }

  #innerDiv {
    position: relative;
    left: 150px;
    margin-right: 150px; /* add this */
    background: pink;
}


.summary-header-with-button {
  min-height: 96px;
}

.vCenter {
  align-items: center;
}
/* Reference to request ruling */
.taxpayer-card,
.summary-card {
    margin-bottom: 56px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.taxpayer-card-section,
.summary-card-section,
.summary-header-without-button {
    min-height: 96px;
}

.summary-header-with-button {
    min-height: 96px;
}

.vCenter {
    align-items: center;
}

.vCenterSingle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single-input-card {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    max-width: 430px;
    padding-inline-start: 16px;
}
marginTop50{
  margin-top: 50px;
}
.tag32 {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
  width: max-content;
  min-width: 84px;
  font-size: 12px;
}
.cardGap {
    margin-bottom: 24px;
}

.rotateSteps {
    transform: rotate(180deg);
}

.btnTertiary {
    min-width: 207px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary);
    text-align: center;
    line-height: 1.5;
    height: 48px;
    border: none;
}

.btnTertiary:hover {
    cursor: pointer;
}
.edit-button:hover {
  cursor: pointer;
}


.btnFourth {
    min-width: 207px !important;
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: 207px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary);
    text-align: center;
    line-height: 1.5;
    height: 48px;
    border: none;
    outline: none;
}

.btnFourth:hover {
    cursor: pointer;
    box-shadow: none;
}

.textDanger {
    color: var(--error);
}

@media (max-width: 500px) {
    .return-card,
    .card-upload,
    .card-uploaded {
        min-width: 100%;
    }
    .commonInput,
    .commonMatSelect,
    .commomDatePicker,
    .dateRangePicker {
        width: 100%;
    }

    .filterMargin {
        width: 100%;
    }
}

.common-text-area-container {
    position: relative;
    max-width: 902px;
    font-family: SSTArabic-Roman;
}

.common-text-area {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 103px;
    /* position: relative; */
    width: 100%;
    padding-bottom: 20px;
    padding-inline-start: 15px;
    padding-inline-end: 11%;
    padding-top: 10px;
    resize: none;
    font-family: SSTArabic-Roman;
    font-size: 16px;
    color: var(--dark);
    line-height: 24px;
    height: 96px !important;
    border: solid 1px var(--gray);
    border-radius: var(--inputBorderRadius);
}

.common-text-area:hover {
    border: solid 2px var(--dark);
}

.common-text-area:focus,
.common-text-area:active {
    border: solid 2px var(--primary) !important;
}

.common-text-area-counter-ltr {
    position: absolute;
    right: 3%;
    display: inline-block;
    bottom: 7%;
    color: var(--gray);
    font-size: bold;
}

.common-text-area-counter-rtl {
    position: absolute;
    left: 3%;
    display: inline-block;
    bottom: 7%;
    color: var(--gray);
    font-size: bold;
}

.layoutOptions {
    border-bottom: solid 1px var(--light);
    text-align: end;
    margin-top: -12px;
}
.layoutId {
    padding: 0 3px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.layoutId-active {
    border-bottom: solid 2px var(--secondary);
}

.searchBar {
    width: 95%;
}

.searchBar .commonInput {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.searchIcon {
    position: absolute;
}

.searchIcon-ltr {
    left: 92%;
}
.searchIcon-rtl {
    right: 92%;
}

.searchIcon img {
    margin-bottom: -19px;
}

.searchIcon {
  position: absolute;
}
.searchIcon:hover {
  cursor: pointer;
  filter: invert(31%) sepia(12%) saturate(5153%) hue-rotate(131deg) brightness(88%) contrast(102%);
}


.filterIcon {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
    .searchBar {
        width: 75%;
    }

    .searchBar .commonInput {
        width: 75%;
        max-width: 75%;
        min-width: 75%;
    }

    .modal {
        top: 0% !important;
        text-align: start;
    }
    .lightCard {
        overflow: auto;
    }
}

@media only screen and (max-width: 800px) {
    .searchBar {
        width: 91%;
    }

    .searchBar .commonInput {
        width: 91%;
        max-width: 91%;
        min-width: 91%;
    }

    ::ng-deep .mat-checkbox-layout {
        white-space: normal !important;
    }

    .summary-card-section {
        height: unset;
    }

    .searchIcon-ltr {
        left: 78%;
    }
    .searchIcon-rtl {
        right: 78%;
    }
}

.modalCloseIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.modal {
    top: 17%;
    text-align: start;
}
.modal-dialog {
    max-width: 708px;
}
.f28 {
    font-size: 28px;
}
.f12 {
    font-size: 12px;
}

.fbl {
    font-weight: bolder;
}
.dark {
    color: #232323;
}
.gray {
    color: #999999;
}
.light {
    color: #ebebeb;
}

.lightCard {
    border-radius: 14px;
    border: solid 1px #ebebeb;
    max-height: 246px;
}

.modalInstructions {
    list-style: decimal;
    line-height: 1.33;
}

::ng-deep .mat-checkbox-label {
    font-size: 12px !important;
    color: #232323 !important;
    margin-inline-start: 10px !important;
    font-family: "SSTArabic-Roman";
    font-weight: normal !important;
}
.modalInstructions > li {
    line-height: 1.33;
    margin-bottom: 10px;
}

/* .cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
} */

/* ::ng-deep .cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 9999 !important;
} */

.filterModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .commonMatSelect {
        max-width: 300px;
    }
    .filterMargin {
        max-width: 300px !important;
    }
}

.exciseAccCss2 {
    font-family: SSTArabic-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

.exciseAccCssBox {
    margin: 0 auto;
    height: 56px;
    border-radius: 14px;
    border: solid 1px #ebebeb;
}

.exciseAccCssBox1 {
    text-align: start;
    font-family: SSTArabic-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #999999;
    position: relative;
    top: 12px;
    left: 10px;
}

.exciseAccCssBox2 {
    font-family: SSTArabic-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #232323;
    float: right;
    position: relative;
    right: 15px;
}

.tabHeader {
    font-family: SSTArabic-Roman;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #151515;
}

.tabheader2 {
    font-family: SSTArabic-Roman;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #999999;
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}
table tr th,
table tr td {
    border: 0.5px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: start;
    height: 64px;
    padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
    border: 0.5px solid #ebebeb;
}
table tr th {
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    text-align: start;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 16px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 16px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}

.tabheader2:hover {
    font-family: SSTArabic-Roman;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #999999;
    box-shadow: 0 4px 8px 0 rgba(35, 35, 35, 0.1);
    cursor: pointer;
}

.filterContrast {
    filter: contrast(0.1);
}

.filterMargin {
    max-width: 437px;
    margin: 0 auto;
}

.btnPrimary {
    font-family: "SSTArabic-Roman";
    width: 207px;
}
.checkboxAckCssnew {
  position: relative;
  top: 2px;
  height: 24px;
}

.grey
{
  color: #999999;
}
.oval {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    background-color: rgba(0, 100, 80, 0.1);
    /* opacity: .1; */
    display: flex;
    justify-content: center;
}
.card207 
{
  min-width: 207px;
  border-color: red ;
}
.inputNoErr{
  border: 1px solid #ebebeb !important ;
}
.inputErr {
  border: 1px solid red !important ;
  
}
.inputErrCard {
  border: 1px solid red !important ;
  border-radius: 14px;
  
}
.inputNoErrCard {
  border: 1px solid #ebebeb !important ;
  border-radius: 14px;
  
}


::ng-deep .mat-checkbox-inner-container {
    height: 24px !important;
    width: 24px !important;
    border-radius: 6px !important;
}
::ng-deep .mat-checkbox-background{
  border-radius: 6px !important;
}
::ng-deep .mat-checkbox-frame{
  border-radius: 6px !important;
}
::ng-deep .inputError .mat-checkbox-frame{
  border-radius: 6px !important;
  border-color:red;
}



.modal-dialog {
  max-width: 708px;
}
.summaryCss1 {
  width: 48px;
  height: 48px;
  background: #e5efed;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  position: relative;
  bottom: 8px;
}

.summaryCss2 {
  width: 24px;
  margin: 0;
  position: relative;
  top: 25%;
}
.summaryCss3 {
  font-family: SSTArabic-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #232323;
  text-align: start;
}

