<div class="container" *ngIf="Step==1" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <!-- Nav tabs -->
    <div class="custom-nav-tabs d-flex justify-content-between align-items-center mb-32">
        <h2>{{lang.step1.t1}}</h2>
        <div class="d-flex icons-viewtype">
            <a (click)="changeView('grid')" [ngClass]="{'active': IsGridView}" class="cursor-pointer">
                <img src="assets/images/icon-cards-active.svg" alt="">
            </a>
            <a (click)="changeView('list')" [ngClass]="{'active': IsListView}" class="cursor-pointer">
                <img src="assets/images/icon-list.svg" alt="">
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center width100P mb-32">
        <div class="searchBox card position-relative">
            <input type="text" placeholder="{{lang.nav.search}}"
            class="placeholder-text-gray" [(ngModel)]="searchText" (input)="search()">
            <button>
                <img src="assets/images/icon-search.svg" alt="" class="position-absolute search-with-shadow ar-search-with-shadow">
            </button>
        </div>
        <img class="ml-15 cursor-pointer" src="assets/images/icon-filter.svg" alt="" data-toggle="modal" data-target="#filter">
    </div>
    
    <!-- Tab panes -->
    <div class="tab-content custom-navtab-content pt-0">
        <div class="tab-pane  active" id="All">
            <div class="row custom-row" *ngIf = "IsGridView">
                <div class="col-sm-6 cursor-pointer" *ngFor="let activity of taxpayerActivityList | filter:searchText" (click)="gotoStep2(activity)">
                    <div class="card mb-24 mb-24 position-relative">					
                        <div class="d-flex width100P align-items-center justify-content-between p-24 pb-0 mb-16">
                            <div>
                                <h3 class="mb-0">
                                    {{activity.FName + ' ' + activity.LName}}
                                </h3>
                                <!-- <p class="font-12 text-Gray mb-0">{{activity.Tin}}</p> -->
                            </div>
                            
                        </div>
                        <div class="border-bottom-whisper"></div>
                        <div class="row  p-24 ">								
                            <div class="col-sm-6">
                                <p class="font-12 text-Gray mb-0">{{lang.step1.t2}}</p>
                                <div class="text-Eerie-Black font-16 font-weight-500">
                                    {{activity.Tin}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-12 text-Gray  mb-0">{{lang.step1.t3}}</p>
                                <div class="text-Eerie-Black font-16 font-weight-500">
                                    {{activity.MNum}}
                                </div>
                            </div>
                        </div>
                      
                        <div class="row  p-24 ">
                            <div class="col-sm-6">
                                <p class="font-12 text-Gray  mb-0">{{lang.step1.t4}}</p>
                                <div class="text-Eerie-Black font-16 font-weight-500">
                                    {{activity.Tptxt}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-12 text-Gray mb-0">{{lang.step1.t5}}</p>
                                <div class="text-Eerie-Black font-16 font-weight-500">
                                    {{activity.CrNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-row listView" *ngIf="IsListView">
                <div class="table mb-32 border-top-whisper card">
                    <table width="100%" class="table-bordered table-bordered-less">
                        <thead>
                            <tr>
                                <th class="font-16 text-Eerie-Black font-weight-500">
                                    {{lang.step1.t2}}
                                </th>
                                <th class="font-16 text-Eerie-Black font-weight-500">
                                    {{lang.step1.t6}} 
                                </th>
                                <th class="font-16 text-Eerie-Black font-weight-500">
                                    {{lang.step1.t4}}
                                </th>
                                <th class="font-16 text-Eerie-Black font-weight-500">
                                    {{lang.step1.t5}}
                                </th>
                                <th class="font-16 text-Eerie-Black font-weight-500">
                                    {{lang.step1.t3}} 
                                 </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let activity of taxpayerActivityList | filter:searchText">
                            <tr class = "cursor-pointer" (click)="gotoStep2(activity)">
                                <td class="font-12 text-Eerie-Black font-weight-500">
                                    <span class="status status-submitted custom">
                                        {{activity.Tin}}
                                    </span>
                                </td>
                                <td class="font-12 text-Eerie-Black font-weight-500">
                                    {{activity.FName + ' ' + activity.LName}}
                                </td>
                                <td class="font-12 text-Gray font-weight-500">
                                    {{activity.Tptxt}}
                                </td>
                                <td class="font-12 text-Gray font-weight-500">
                                    {{activity.CrNo}}
                                </td>
                                <td class="font-12 text-Gray font-weight-500">
                                    {{activity.MNum}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="taxpayerActivityList?.length == 0 && searchText !== undefined">
            <h4 style="text-align: center;">{{lang.nav.norecords}}</h4>
        </div>
        
    </div>
        
</div>
<!-- Filter popup models start -->
<div class="modal modal-filter fade" id="filter" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="modal-dialog max-width-708 pop-up-align-mddile" role="document">
        <div class="modal-content">
            <div class="text-right modal-filter-head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="assets/images/icon-close-1.svg" alt="">
                </button>
            </div>
            <form [formGroup]="TaxpayerFormGroup">
            <div class="modal-body modal-body-3">
                <h2 class="mb-32">{{lang.filter.t1}}</h2>
                <div class="mb-60">
                    <div class="form-group mb-20">
                        <label>{{lang.filter.t2}}</label>
                        <input type="text" class="form-control card" placeholder="Enter First Name" formControlName="firstName">
                    </div>
                    <div class="form-group mb-20">
                        <label>{{lang.filter.t3}}</label>
                        <input type="text" class="form-control card" placeholder="Enter Last Name" formControlName="lastName">
                    </div>
                    <div class="form-group mb-20">
                        <label>{{lang.filter.t4}}</label>
                        <input type="text" class="form-control card" placeholder="Enter TIN Number" formControlName="tinNumber">
                    </div>
                    <div class="form-group mb-20">
                        <label>{{lang.filter.t5}}</label>
                        <input type="text" class="form-control card" placeholder="Enter Licence Number" formControlName="crNumber">
                    </div>
                    <div class="form-group mb-20">
                        <label>{{lang.filter.t6}}</label>
                        <div class="input-group phone-number-group mb-24">
                            <div class="input-group-prepend country-code ">
                                <!-- <div class="countrycode-dropdown position-relative">
                                    <select class="form-control default-arrow-hide position-relative">
                                        <option>+966</option>
                                    </select>
                                    <img src="assets/images/icon-dropdown-up.svg" class="mr-10 countrycode-dropdown-arrow position-absolute" alt="">
                                </div> -->
                            </div>
                            <input type="text" class="form-control custom-phone-number" formControlName="mobileNum" placeholder="Enter Mobile Number" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group mb-36">
                        <label>{{lang.filter.t7}} </label>
                        <input type="text" class="form-control card" placeholder="Enter Email Id" formControlName="emailId">
                    </div>
                    
                </div>
                <div class="mb-20 text-right arBtn-left">
                    <button type="button" class="btn btn-link text-Shiraz" (click)="clear()">{{lang.nav.clear}}</button>
                    <button class="btn btn-primary" (click)="search()">{{lang.nav.search}}</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Filter popup models End-->
<!-- No date popup models Start-->
<div class="modal modal-filter fade" id="nodate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="modal-dialog max-width-708 pop-up-align-mddile" role="document">
        <div class="modal-content">
            <div class="text-right modal-filter-head">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="assets/images/icon-close-1.svg" alt="">
                </button>
            </div>
            <div class="modal-body" style='padding: 0 40px;'>
                <h2 class="mb-15">{{lang.nodate.t1}}</h2>
                <p class="mb-56 font-16 font-weight-500">{{lang.nodate.t2}}</p>
                
                <div class="mb-32 text-right arBtn-left">
                    <button class="btn btn-primary" (click)="close()">{{lang.nodate.t3}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- No date popup models End-->


<div class="container" *ngIf="Step==2" dir="{{Direction}}" [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="mb-24 cursor-pointer">  
        <a (click)="back()" class="text-Gray">{{lang.nav.t1}}  </a>{{lang.nav.t2}} 
    </div>
    <div class="mb-32 d-flex justify-content-between align-items-center">
        <a (click)="back()" class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
            <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt="">{{lang.nav.t3}} 
        </a>           
    </div>
    <div class="mb-32">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-12">{{lang.step2.t1}}</h2>
        </div>
    </div>
    
   
    
    <div class="card  card-shadow-none mb-24">            
        <div class="p-24 d-flex align-items-center justify-content-between ">
            <h3 class="d-flex align-items-center mb-0">
                <span class="ellipse48 bg-Watercourse-opa1 mr-15"><img src="assets/images/icon-note.svg" class="" alt=""></span> {{lang.step2.t2}}
            </h3>
            <a data-toggle="collapse" href="#toggle1" role="button" aria-expanded="false" aria-controls="toggle1">
                <img src="assets/images/icon-arrow-up.svg" alt="">
            </a>
        </div>
        <div class="collapse show multi-collapse" id="toggle1">
        <div class="border-bottom-whisper"> </div>
        <div class="row p-24">
            <div class="col-sm-6">
                <p class="font-16 text-Gray  mb-0">{{lang.step2.t3}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                     {{taxpayerDetails.TaxpayerTin}} 
                </div>
            </div>
            <div class="col-sm-6">
                <p class="font-16 text-Gray mb-0">{{lang.step2.t4}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                     {{taxpayerDetails.AudName}} 
                </div>
            </div>
        </div>
        <div class="border-bottom-whisper"> </div>
        <div class="row  p-24">
            <div class="col-sm-6">
                <p class="font-16 text-Gray mb-0">{{lang.step2.t5}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                    {{taxpayerCrNum}} 
                </div>
            </div>
            <div class="col-sm-6">
                <p class="font-16 text-Gray mb-0">{{lang.step2.t6}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                      {{taxpayerType}} 
                </div>
            </div>				
        </div>
        <div class="border-bottom-whisper"> </div>
        <div class="row p-24">
            <div class="col-sm-6">
                <p class="font-16 text-Gray  mb-0">{{lang.step2.t7}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                    {{taxpayerMobile}} 
                </div>
            </div>
            <div class="col-sm-6">
                <p class="font-16 text-Gray mb-0">{{lang.step2.t8}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                    {{taxpayerEmail}}
                </div>
            </div>
        </div>
        <div class="border-bottom-whisper"> </div>
        <div class="row p-24">
            <div class="col-sm-6">
                <p class="font-16 text-Gray  mb-0">{{lang.step2.t9}} </p>
                <div class="text-Eerie-Black font-16 font-weight-500" *ngIf="taxpayerDetails.DateType=='G'">
                    
                    {{lang.step2.type1}} 
                </div>
                <div class="text-Eerie-Black font-16 font-weight-500" *ngIf="taxpayerDetails.DateType=='H'">
                    
                    {{lang.step2.type2}}
               </div>
            </div>
            <div class="col-sm-6">
                <p class="font-16 text-Gray mb-0">{{lang.step2.t10}}</p>
                <div class="text-Eerie-Black font-16 font-weight-500">
                    
                     {{taxpayerPeriod}}
                </div>
            </div>
        </div>
        
    </div>
    </div>
    <div class="tab-content custom-navtab-content pt-0 mb-60">
        <div class="tab-pane  active" id="Zakat-CIT">
            <div class="table mb-32 border-top-whisper card">
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <h3 class="d-flex align-items-center mb-0">
                        <span class="ellipse48 bg-Watercourse-opa1 mr-15"><img src="assets/images/icon-note.svg" class="" alt=""></span> {{lang.step2.t11}}
                    </h3>
                    <a data-toggle="collapse" href="#toggle2" role="button" aria-expanded="false" aria-controls="toggle2">
                        <img src="assets/images/icon-arrow-up.svg" alt="">
                    </a>
                </div>
                <div class="collapse show multi-collapse" id="toggle2">
                <div class="border-bottom-whisper"> </div>
                    <div class="p-24 d-flex align-items-center justify-content-between ">
                        <h3 class="d-flex align-items-center mb-0 font-16">
                            {{lang.step2.t12}}
                        </h3>
                        <a data-toggle="collapse" href="#toggle3" role="button" aria-expanded="false" aria-controls="toggle3">
                            <img src="assets/images/icon-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="collapse show multi-collapse" id="toggle3">
                        <table width="100%" class="table-bordered table-bordered-less">					
                            <thead>							
                                <tr>
                                    <th class="font-12 text-Eerie-Black font-weight-500" width="33%">
                                        {{lang.step2.t13}} 
                                    </th>
                                    <th class="font-12 text-Eerie-Black font-weight-500">						    
                                        {{lang.step2.t14}}
                                    </th>
                                    <th class="font-12 text-Eerie-Black font-weight-500">
                                        {{lang.step2.t15}} 
                                    </th>
                                </tr>
                                                
                            </thead>
                            <tbody>				    
                                <tr *ngFor="let service of listOfServices">
                                    <td class="font-12 text-Eerie-Black font-weight-500">
                                        <label class="custom-checkBox card-inactive">
                                            <input type="checkbox" checked="service.ReturnCb=='X'">
                                            <span class="checkmark checkmark-24"></span>
                                        </label>
                                    </td>						
                                    <td class="font-12 text-Eerie-Black font-weight-500">
                                        <label class="custom-checkBox card-inactive">
                                            <input type="checkbox" checked="service.ObjectionCb=='X'">
                                            <span class="checkmark checkmark-24"></span>
                                        </label>
                                    </td>						
                                    <td class="font-12 text-Gray font-weight-500">{{service.Period}}</td>						
                                </tr> 
                                <tr class="text-center" *ngIf="listOfServices.length ==0">
                                    <td colspan="3" class="font-12 text-Eerie-Black font-weight-500 text-center">{{lang.step2.t16}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="border-bottom-whisper"> </div>
                    <div class="p-24 d-flex align-items-center justify-content-between ">
                        <h3 class="d-flex align-items-center mb-0 font-16">
                            {{lang.step2.t19}} 
                        </h3>
                        <a data-toggle="collapse" href="#toggle4" role="button" aria-expanded="false" aria-controls="toggle4">
                            <img src="assets/images/icon-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="collapse show multi-collapse" id="toggle4">
                        <table width="100%" class="table-bordered table-bordered-less">	
                            <tbody>				    
                                <tr>
                                    <td  class="font-12 text-Eerie-Black font-weight-500" width="50%%">{{lang.step2.t17}}</td>						
                                    <td  class="font-12 text-Eerie-Black font-weight-500">{{lang.step2.t18}}</td>						
                                </tr>
                               
                               
                                

                                 <tr *ngFor="let request of requestsList">
                                    <td  class="font-12 text-Eerie-Black font-weight-500">
                                        <label class="custom-checkBox card-inactive">
                                            <input type="checkbox" checked="request">
                                            <span class="checkmark checkmark-24"></span>
                                        </label>
                                    </td>						
                                    <td  class="font-12 text-Gray font-weight-500"> {{request.Zdesc}}</td>						
                                </tr> 
                            </tbody>
                        </table>
                    </div> 						
                </div>                
            </div>                
        </div>
    </div>
    <div class=" mb-24">
        <button class="btn btn-primary" >{{lang.step2.t20}}</button>
        <!-- (click)="manageActivity()" -->
    </div>
</div>



<div class="container" *ngIf="Step==3" dir={{Direction}} [ngClass]="{'lang-arabic':direction=='rtl'}">
    <div class="mb-24">   
        <a (click)="backToStep2()" class="text-Gray"> {{lang.nav.t1}} {{lang.nav.t4}} </a> {{lang.nav.t5}}
    </div>
    <div class="mb-32 d-flex justify-content-between align-items-center">
        <a (click)="backToStep2()" class="text-Watercourse d-flex font-weight-bold align-items-center cursor-pointer">
            <img src="assets/images/arrow-left-green.svg" class="mr-10 ar-mt-10" alt=""> {{lang.nav.t3}}
        </a>           
    </div>
    <div class="mb-32">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-12">{{lang.step3.t1}}</h2>
        </div>
    </div>
    
   <div class='row'>
        <div class='col-sm-6'>
            <p class="mb-24 font-16 font-weight-500">{{lang.step3.t2}}</p>				
            <div class="card  card-shadow-none mb-24">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icons-main-message.svg" class="" alt=""></span> {{lang.step3.t3}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>		
   </div>
    <div class='row'>
        <div class='col-sm-12'><p class="mb-24 font-16 font-weight-500">{{lang.step3.t4}}</p></div>
        <div class='col-sm-6'>				
            <div class="card  card-shadow-none mb-24">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icon-return-12.svg" class="" alt=""></span> {{lang.step3.t5}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
            
        </div>
        <div class='col-sm-6'>				
            <div class="card  card-shadow-none mb-24">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icon-note.svg" class="" alt=""></span> {{lang.step3.t6}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>				
            <div class="card  card-shadow-none mb-24">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icons-main-whitelisting.svg" class="" alt=""></span> {{lang.step3.t7}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>				
            <div class="card  card-shadow-none mb-24">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icons-main-registration.svg" class="" alt=""></span> {{lang.step3.t8}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        
        <!-- <div class='col-sm-6'>				
            <div class="card  card-shadow-none mb-24" *ngFor="let tile of tilesData">            
                <div class="p-24 d-flex align-items-center justify-content-between ">
                    <p class="d-flex align-items-center mb-0 font-16 font-weight-500">
                        <span class="mr-15"><img src="assets/images/icons-main-registration.svg" class="" alt="">
                        </span> {{tile.txt}}
                    </p>
                    <a href="#">
                        <img src="assets/images/arrows-circle-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div> -->
   </div>
    
    
</div>

